{% macro render_field(field) %}
  <td>{{ field.label }} :</td><td> {{ field(**kwargs)|safe }}</td>
  {% if field.errors %}
    
    {% for error in field.errors %}
      <td>{{ error }}</td>
    {% endfor %}
    
  {% endif %}
  
{% endmacro %}

{% macro checkfield(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
