{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="glyphicon glyphicon-user"></i>Employee</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.3').className ="active";
    </script>
            
      <div class="row">
        
        
        <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title"></h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST"  autocomplete="off">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Employee ID</label>
    <input class="form-control" id="employee_id" name="employee_id" type="text" value="">

  </div>
</div>
    </div><div class="row">
    <div class="col-sm-4 1" style="display:none;" ></br>
    <input type="submit" name="submit" value="Add" class="btn btn-primary btn-block"></div>
    <div class="col-sm-4 2" style="display:none;"></br>
    <input type="submit" name="submit" value="Block" class="btn btn-danger btn-block"></div>
    <div class="col-sm-4 3" style="display:none;"></br>
    <input type="submit" name="submit" value="Unblock" class="btn btn-danger btn-block"></div>  
    <div class="col-sm-4 4"style="display:none;"></br>
    <input type="submit" name="submit" value="Reset Password" class="btn btn-success btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
  <script type="text/javascript">
$( document ).ready(function() {
$("#employee_id").keyup(function() {
    var e = $(this).val().trim();
    if (e.length == 5) {
        $.ajax({
            url: "/user/checkemp",
            data: $("form").serialize(),
            type: "POST",
            success: function(e) {
                if (e.trim() == "0") {
                  $(".1").show();
                  $(".2").hide();
                  $(".3").hide();
                  $(".4").hide();}
                else if (e.trim() == "1") {
                  $(".1").hide();
                  $(".2").show();
                  $(".3").hide();
                  $(".4").show();}
                else {
                  $(".1").hide();
                  $(".2").hide();
                  $(".3").show();
                  $(".4").hide();}

}
});
}
});
});


  </script>    

	  

{% endblock %}     


