{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Aging Reports</h2>
    
    </div>
{% endblock %} 
{% block contentpanel %}    
<script type="text/javascript">
  document.getElementById('id-5').className ="nav-parent nav-active active";
      document.getElementById("d").style.display = "block";
document.getElementById('id-5.3').className ="active";
    </script>
      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Aging Reports</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form id="agingreports" action="" method="POST">
<div class="row">
<div class="col-sm-4">
  <div class="form-group">
    <label>Till</label>
    <input class="form-control" id="end_date" name="end_date" type="text" value="" placeholder="Enter Date" required></div>
</div>
    </div><div class="row">
    <div class="col-sm-4"></br>
    <button type="button"  onclick="fetch()" class="btn btn-primary btn-block">Get Reports</button></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>     
      </div>   
      </div><!-- row -->
      <div classs="row"><div classs="col-md-12" id="aging">
        

      </div></div>
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$('#end_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});
</script>

<script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("agingreports"));
  $.ajax({
        url: '/user/getagingreports',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response['error'] == 'yes'){
              document.getElementById("aging").innerHTML = response['msg'];
                  }
                  else{
            var text1='<table class="table table-bordered table-hover"><tr class="active"><th>Sales Office</th><th>Sales Representative</th><th>Sales Rep Name</th><th>Sales Organizer</th><th>Sales Organizer Name</th><th>Customer</th><th>Customer Name</th><th>Customer Account Group</th><th>Sales Group</th><th>Sales Group Description</th><th>State</th><th>District</th><th>District Name</th><th>Payment Terms</th><th>Payment Terms Description</th><th>Customers credit limit</th><th>Security Deposit</th><th>Addl Security Deposit</th><th>Closing</th><th>From 0 To 7</th><th>From 8 To 15</th><th>From 16 To 30</th><th>From 31 To 45</th><th>From 46 To 60</th><th>From 61 to 90</th><th>From 91 to 120</th><th>From 121 To 150</th><th>From 151 & Above</th></tr>';


            var rep =response['reports'].length;
            for (var i = 0; i < rep; i++) {
              text1+='<tr><td>'+response['reports'][i]['VKBUR']+'</td><td>'+response['reports'][i]['KUNN2']+'</td><td>'+response['reports'][i]['NAME2']+'</td><td>'+response['reports'][i]['KUNN3']+'</td><td>'+response['reports'][i]['NAME3']+'</td><td>'+response['reports'][i]['KONTO']+'</td><td>'+response['reports'][i]['NAME1']+'</td><td>'+response['reports'][i]['KTOKD']+'</td><td>'+response['reports'][i]['VKGRP']+'</td><td>'+response['reports'][i]['VKTXT']+'</td><td>'+response['reports'][i]['REGTXT']+'</td><td>'+response['reports'][i]['DSTRC']+'</td><td>'+response['reports'][i]['DSTXT']+'</td><td>'+response['reports'][i]['ZTERM']+'</td><td>'+response['reports'][i]['VTEXT']+'</td><td>'+response['reports'][i]['KLIMK']+'</td><td>'+response['reports'][i]['DEPOSIT']+'</td><td>'+response['reports'][i]['ADDLDEPOSIT']+'</td><td>'+response['reports'][i]['ZCLOSE']+'</td><td>'+response['reports'][i]['SLABAMT1']+'</td><td>'+response['reports'][i]['SLABAMT2']+'</td><td>'+response['reports'][i]['SLABAMT3']+'</td><td>'+response['reports'][i]['SLABAMT4']+'</td><td>'+response['reports'][i]['SLABAMT5']+'</td><td>'+response['reports'][i]['SLABAMT6']+'</td><td>'+response['reports'][i]['SLABAMT7']+'</td><td>'+response['reports'][i]['SLABAMT8']+'</td><td>'+response['reports'][i]['SLABAMT9']+'</td></tr>';
            };
            text1+='</table>'
           document.getElementById("aging").innerHTML = text1;

}}

  });
}



    </script>
{% endblock %}
