{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="fa fa-bullhorn"></i>Announcements</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}

            
      <div class="row">
        
        
        <div class="col-md-6">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Announcements</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label" for="employee_id">Description</label>
    <textarea class="form-control" id="announcement" name="announcement" required></textarea>

  </div>
</div>
    </div><div class="row">
    <div class="col-sm-4 col-sm-offset-2"></br>
    <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      

	  

{% endblock %}     
{% block scripts %}
  <script type="text/javascript">
document.getElementById('id-12').className ="active";
    </script>
{% endblock %} 

