{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dzscalendar.css" rel="stylesheet">
<!-- <link href="/static/css/dzstooltip.css" rel="stylesheet"> -->
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil-square-o"></i>Apply Leave</h2>
     
    </div>
{% endblock %} 
{% block contentpanel %}   
<script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>  
    <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.1').className ="active";
    </script>
      
<script type="text/javascript">
function chk()
{
  var fd = new FormData(document.getElementById("apl"));

var jqxhr = $.ajax({
        url: '/leave/checkappliedleave',
        data:  fd,
        type: 'POST',
        processData: false,  
        contentType: false,
        global: false,
        async:false,
        success: function(response) {
          return response
        }
      }).responseText;

return jqxhr;
}

</script>

<script>

function validateForm()
{

flag=0;
dat ="";

var a=chk();
var response = JSON.parse(a);

if(response.st_date=="Yes")
{
 bootbox.alert("Start Date is Holiday", function() {
           });
return false;
}

else if (response.en_date=="Yes")
{
bootbox.alert("End Date is Holiday", function() {
           });
return false;
}

else if(document.getElementById("leave_type").value=="SL")
{

if (response.total_days>3)
{
document.getElementById("docf").style.display="block";
if(document.getElementById("doc").value=="")
{
  return false;
}

else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}
  if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
        if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}

else
{
if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }


}



}


else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}
  if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
   if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}

else
{

  if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }

}






}


else if(response.holidays.length >0)
{
  for(var i=0;i<response.holidays.length;i++)
  {
    dat=dat+response.holidays[i]["date"].substring(0, response.holidays[i]["date"].length- 13)+"\n";

}



   if (confirm("Holidays:\n"+dat+"\nAre you sure to continue?") == true) {
    if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }
    } 
    else {
      return false;
    }

}


else
{
  if (confirm("Total number of leave days:"+response.total_days) == true) {
       return true;
    } 
    else {
      return false;
    }

 
}


}

</script>
  <script>
     function readURL2(input) {
var fileName =input.value;
var fileExt = fileName.split('.').pop();
//alert(fileExt);
var arr = ['pdf'];
if( jQuery.inArray( fileExt, arr ) < 0 )
  {
    bootbox.alert("Please select a pdf file.", function() {
           });
    input.value="";
    return false;
  }


        }
  </script>

<script type="text/javascript">
  function hid()
  {
    document.getElementById("docf").style.display="none";
  }
</script>

      <div class="row">
        
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance Application</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST" id="apl" enctype="multipart/form-data" onsubmit="return validateForm()">
<div class="row">
  <div class="col-sm-3">
<div class="dzscalendar skin-green" id="tr1" style="">
<div class="events">
  {% if calendar %}
  {% for c in calendar %}
                <div data-date="{{ c['date']}}">
                  
                </div>
  {% endfor %}
  {% endif %}
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="radio-inline">
<label>
  <input type="radio" name="leave" id="leave1" value="1" checked="checked" onchange="leavetypefun(this.value)"> Leave
</label>         
</div>
    <div class="radio-inline">
       <label>
  <input type="radio" name="leave" id="leave2" value="2" onchange="leavetypefun(this.value)"> Attendance
</label>
</div>

<div class="form-group">
    
    <select class="form-control" id="leave_type" name="leave_type" required onchange="hid()">
      <option value="CL" selected>Casual leave</option>
      <option value="SL">Sick leave</option>
      <option value="LWP">Leave without pay</option>
      <option value="EL">Earned leave</option>
    </select>
  </div>
  <div class="form-group">
    
 <input class="form-control" id="reason" name="reason" type="text" value="" placeholder="Leave Reason" required>
  </div>
  <div class="form-group">
    
    <input class="form-control" id="start_date" name="start_date" type="text" value="" placeholder="Start Date" required  ></div>
    <div class="form-group">
    
    <input class="form-control" id="end_date" name="end_date" type="text" value="" placeholder="End Date" required disabled onchange="hid()"></div>
        <div class="checkbox" id="display_lta" style="display:none">
  <label>
    <input type="checkbox" value="1" id="lta" name="lta">
    LTA
  </label>
</div>
    <div class="checkbox" id="half">
  <label>
    <input type="checkbox" value="1" id="halfday" name="halfday">
    Half Day
  </label>
</div>
<div id="halfdaydiv" style="display:none">
<label class="checkbox">
  <input type="checkbox" id="Checkbox1" name="halfcheck" value="1"> 1st Half of  Day
</label>
<label class="checkbox">
  <input type="checkbox" id="Checkbox2" name="halfcheck" value="2"> 2nd Half of  Day
</label>
</div>
<div id="docf" style="display:none" >
<input type="file" data-buttonText="Choose Doc Certificate"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="doc" data-badge="true"  id="doc" class="browse" onchange="readURL2(this);" />
</div>
<!-- <span id="per" style="display:block">

<input type="file" data-buttonText="Choose Permanent Address proof"  class="filestyle"  data-iconName="glyphicon glyphicon-inbox" data-buttonName="btn-warning" data-input="false" data-size="sm"  name="peraddress" data-badge="false"  id="peraddress" class="browse" onchange="readURL2(this);" />
</span> -->

    <input type=submit value="Apply" class="btn btn-primary btn-block" id="al"></div>
<!--
    <div class="col-sm-5 col-sm-offset-1">
<h4>Public Holidays</h4>
      <table class="table table-striped">
        <tr><th>Date</th><th>Holiday</th></tr>
{% for c in calendar %}
<tr><td>{{ c['DATE']}}</td><td>{{ c['TXT_LONG']}}</td></tr>
{% endfor %}
</table>
    </div>
-->

<div class="col-sm-4 col-sm-offset-1">

<table class="table table-bordered table-hover">
  <tr class="active text-center"><th class="text-center">Type</th><th>Quota</th><th>Balance</th><th>Used</th></tr>
  <tr >
    <td>Casual Leave</td>

    <td class="text-center">{{leave_quota['available_cls']}}</td>
    <td class="text-center">{{leave_quota['cls_balance']}}</td>
    <td class="text-center">{{leave_quota['leaves_taken']}}</td>
    
  </tr>
  <tr >
    <td>Sick Leave</td>
    <td class="text-center">{{leave_quota['available_sls']}}</td>
    <td class="text-center">{{leave_quota['sls_balance']}}</td>
    <td class="text-center">{{leave_quota['sls_taken']}}</td>
    
  </tr>
  <tr>
    <td >Earned Leave</td>
    <td class="text-center">{{leave_quota['available_els']}}</td>
    <td class="text-center">{{leave_quota['els_balance']}}</td>
    <td class="text-center">{{leave_quota['els_taken']}}</td>
    
  </tr>
  <tr>
    <td>Leave Without Pay</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['lwps_taken']}}</td>
  </tr>
  <tr >
    <td>Tour</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['tours_taken']}}</td>
  </tr>
  <tr>
    <td>On Duty</td>
    <td class="text-center">NA</td>
    <td class="text-center">NA</td>
    <td class="text-center">{{leave_quota['onduty_taken']}}</td>
  </tr>
</table>


</div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript">
today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;




var dt = new Date();
dt.setDate(dt.getDate() + 3);
var dd1 = dt.getDate();
var mm1 = dt.getMonth()+1; //January is 0!
var yyyy1 = dt.getFullYear();

if(dd1<10) {
    dd='0'+dd
} 

if(mm1<10) {
    mm='0'+mm
} 

today1 = dd1+'/'+mm1+'/'+yyyy1;






$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});

var dis1 = document.getElementById("start_date");
dis1.onchange = function () {
  hid()
   if (this.value != "") {
      $('#end_date').datepicker('remove');
      document.getElementById("end_date").value = '';
      document.getElementById("end_date").disabled = false;
      $('#end_date').datepicker({startDate:this.value,
    format: "dd/mm/yyyy",
    autoclose: true
});
   }else{
    document.getElementById("end_date").value = '';
    document.getElementById("end_date").disabled = true;
    $('#end_date').datepicker('remove');
   }
}

$( "#leave_type" ).change(function() {  
var a =document.getElementById("leave_type").value;
var b = $("input[name=leave]:checked").val();
if(b ==1){
  if(a == 'CL' || a == 'SL' || a == 'LWP'){
    document.getElementById("display_lta").style.display="none";
$('#start_date').datepicker('remove');
$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});}
else if (a == 'EL'){
  document.getElementById("display_lta").style.display="block";
  document.getElementById("half").style.display="none";
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today1,
    format: "dd/mm/yyyy",
    autoclose: true
}); 
}
else{
  document.getElementById("display_lta").style.display="none";
   $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}
}
else{
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}
});

$('#halfday').click(function () {
    $("#halfdaydiv").toggle(this.checked);
});

function leavetypefun(ltype){
if(ltype==1){
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="CL" selected>Casual leave</option>');
$('#leave_type').append('<option value="SL">Sick leave</option>');
$('#leave_type').append('<option value="LWP">Leave without pay</option>');
$('#leave_type').append('<option value="EL">Earned leave</option>');   
document.getElementById("reason").placeholder="Leave reason";              
}
else{
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="1" >Tour</option>');
$('#leave_type').append('<option value="2" selected>On-Duty</option>');
document.getElementById("reason").placeholder="Attendance reason";
 $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
}); 

}
}
$('#tr1').dzscalendar({});
</script>

{% endblock %}
