{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-sitemap"></i>Approval Levels</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Approval Levels</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Create Levels</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-md-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th><label >Select All </label>
</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>LEVEL 1</th>
                <th>LEVEL 2</th>
                <th>LEVEL 3</th>
                <th>LEVEL 4</th>
                <th>LEVEL 5</th>
                <th>LEVEL 6</th>
                <th>LEVEL 7</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for p in p_employees %}
            <tr>
                <td><label>
  <input type="checkbox" class="check1" name="{{ p['username']}}" value="{{ p['designation_id'] }}"> 
</label></td>
                <td>{{ p['username'] }}</td>
                <td>{{ p['f_name'] }} {{ p['l_name'] }}</td>
                <td>
{% if p['m1_name']%}
{% if 'levels' in p %}
{% if 'm1_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m1_pid" checked> 
</label>
                  {{ p['m1_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m1_pid"> 
</label>
                  {{ p['m1_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m1_pid"> 
</label>
                  {{ p['m1_name'] }}
  {% endif %}

{% endif%}
                </td>
                <td>
{% if p['m2_name']%}
{% if 'levels' in p %}
{% if 'm2_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m2_pid" checked> 
</label>
                  {{ p['m2_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m2_pid"> 
</label>
                  {{ p['m2_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m2_pid"> 
</label>
                  {{ p['m2_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m3_name']%}
{% if 'levels' in p %}
{% if 'm3_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m3_pid" checked> 
</label>
                  {{ p['m3_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m3_pid"> 
</label>
                  {{ p['m3_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m3_pid"> 
</label>
                  {{ p['m3_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m4_name']%}
{% if 'levels' in p %}
{% if 'm4_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m4_pid" checked> 
</label>
                  {{ p['m4_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m4_pid"> 
</label>
                  {{ p['m4_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m4_pid"> 
</label>
                  {{ p['m4_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m5_name']%}
{% if 'levels' in p %}
{% if 'm5_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m5_pid" checked> 
</label>
                  {{ p['m5_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m5_pid"> 
</label>
                  {{ p['m5_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m5_pid"> 
</label>
                  {{ p['m5_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m6_name']%}
{% if 'levels' in p %}
{% if 'm6_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m6_pid" checked> 
</label>
                  {{ p['m6_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m6_pid"> 
</label>
                  {{ p['m6_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m6_pid"> 
</label>
                  {{ p['m6_name'] }}
  {% endif %}

{% endif%}
                </td>
                                <td>
{% if p['m7_name']%}
{% if 'levels' in p %}
{% if 'm7_pid' in p['levels']%}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m7_pid" checked> 
</label>
                  {{ p['m7_name'] }}
{% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m7_pid"> 
</label>
                  {{ p['m7_name'] }}
{% endif %}
                  {% else %}
<label>
  <input type="checkbox" name="{{ p['designation_id']}}" value="m7_pid"> 
</label>
                  {{ p['m7_name'] }}
  {% endif %}

{% endif%}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>
              </div></div>
<div class="col-md-4 col-md-offset-4">
 <input type="submit" value="Save Changes" class="btn btn-primary btn-block">
</div>
</form>
      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {"scrollX": true,"iDisplayLength": 5,"order": [[ 1, "asc" ]]});
} );
// $(document).ready(function() {
//     $('#selectall').click(function(event) {  //on click 
//         if(this.checked) { // check select status
//             $('.check1').each(function() { //loop through each checkbox
//                 this.checked = true;  //select all checkboxes with class "checkbox1"               
//             });
//         }else{
//             $('.check1').each(function() { //loop through each checkbox
//                 this.checked = false; //deselect all checkboxes with class "checkbox1"                       
//             });         
//         }
//     });
    
// });
</script>
  <script type="text/javascript">
  document.getElementById('id-3').className ="nav-parent nav-active active";
      document.getElementById("b").style.display = "block";
document.getElementById('id-3.1').className ="active";
    </script>
{% endblock %}
