﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table6{table-layout:fixed;}
</style>
{% endblock %}
  {% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> Asset Code</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Asset Code</li>
        </ol>
      </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
        <div class="col-md-12">
          <div class="panel panel-default">


        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Asset Code</h4>
           </div><!-- panel-heading -->



<div class="panel-body">
<div class="row">

<div class="form-group">  
<div class="col-md-6">
<div class="form-inline">
  <label>Department </label> 
        <select class="form-control" id="dept" name="dept" required>
          {% if dept %}
          {% for dep in dept%}
                                <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                {% endfor %}
                                    {% endif %}
        </select>                        
</div>

</div>

                
                    <div class="col-md-4">
                        <div class="form-group">               
                             <input class="form-control assetcode" id="assetcode" name="assetcode"  type="hidden"  value="" placeholder="Asset Code" required>
                            
                         </div>
                    </div>
                    
                  </div>  

<form id="tradeform" action="" method="POST" enctype="multipart/form-data">

<table id="table7" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0"  border="0" >
 <thead>
            <tr>
               <th>Mat.Type</th>
                <th>Material</th>
                
                <th>Quantity</th>
                <th>UoM</th>
    		<th>St.loc</th>
    		<th>Unit Value</th>
    		<th>Delivery Date</th>
    		<th>Attachments</th>
    	<!-- 	<th>Add/Delete</th><br> -->
            </tr>
        </thead>


        <tbody id="body7">
      <tr>
      
      <td>
                <select  id="Desription" class="form-control description" name="description7">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      </td>
      <td>
  <input class="form-control material" id="material" name="material7" style="width:200px" type="hidden" value="" placeholder="material" required>
        
      </td>
      <td>
        <input id="Quantity" type="number"  class="form-control quantity" name="quantity7" style="width:100px"  onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UoM" type="text"  class="form-control uom" name="uom7" size="10" readonly="readonly">
      </td>
      <td>
            <input id="location" type="text" class="form-control location" name="location7" >       
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value7" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="Date7" type=""  class="form-control date" name="date7" size="11">
      </td>
      <td>
        <input  class="file" type="file" name="file7[]" style="width:90px" >
      </td>
      <!-- <td>
        <button id="btn7"  type="button" class="btn btn-default">Add</button><br>
      </td> -->
    </tr>
        </tbody>
    </table>


     <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add7" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete7" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 
    </form>
 </div>



</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  

{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>



<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>-->







<script>
$(document).ready(function() {
   

$('.assetcode').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        allowClear: true,
        ajax: {
            url: "/pmpr/asset",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
           return "<div class='select2-user-result' value="+excercise.main_asset_number+">"+excercise.asset_desc+"--"+excercise.main_asset_number+" </div>";  
 
        },
        id: function(excercise){
          return excercise.main_asset_number;
        },
        formatAjaxError: function(){
          return 'Asset Code Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#assetcode").val(excercise.main_asset_number);
  
            return excercise.asset_desc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
       
      $('#material').select2({
minimumInputLength: 3,
placeholder: ' ',

ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
$('#UoM').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

 });


</script>


<!-- validation of number only entry -->
<script type="text/javascript">
  function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)){
        return false;
    }else{
      return true;
    }
}
 $('.age').bind("cut copy paste",function(e) {
          e.preventDefault();
      });

</script>

<script type="text/javascript">

$(document).ready(function(){
   if ( $.fn.dataTable.isDataTable( '#table7' ) ) {
    table7 = $('#table7').DataTable();
}
else {
    table7 = $('#table7').DataTable( {
      "scrollX": "100%",
       "paging": false,
        "bSort": false,
	"columnDefs": [
    { "width": "10%", "targets": 1 }
  ],
   "bFilter": false
      /*"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]*/
    } );
}      
   
 

      $('#Date7').datepicker({format:"dd.mm.yyyy"});
     /* $(':file').filestyle({badge:true,input:false});*/
      $('#table7 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
      if(val!=""){
        if(!(pdfFormat.test(val))) {
         /* $(':file').filestyle('clear');*/        
          alert('Unsupported file pdf format only');
          $(this).val('');
          }
        }
        }); 
    
      
 


    $('#add7').click( function () {
      row = $('#table7 >#body7 >tr').length;
            table7.row.add( [
     '<select  id="Desription'+row+'" class="form-control description" name="description7">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
 ' <input class="form-control material'+row+'" id="material'+row+'" name="material7" style="width:200px" type="hidden" value="" placeholder="material" required>',
    '<input id="Quantity" type="number"  class="form-control quantity" name="quantity7" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom7" size="10" readonly="readonly">',
    '<input id="location" type="text" class="form-control location" name="location7" >',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value7" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date7" size="11">',
    '<input  class="file" type="file" name="file7[]" style="width:90px">'
   /* '<button id="delete"  type="button" class="btn btn-default delete7">Delete</button><br>'*/
    
          ] ).draw();	


    $('.date').datepicker({format:"dd.mm.yyyy"});
   /* $(':file').filestyle({badge:true,input:false});*/
    $('#table7 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        if(val!=""){
        if(!(pdfFormat.test(val))) {
         /* $(':file').filestyle('clear');  */      
          alert('Unsupported file pdf format only');
          $(this).val('');
          }
        }
        }); 
      $('.material'+row+'').select2({
minimumInputLength: 3,
placeholder: ' ',

ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription'+row+'').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$('#material'+row+'').val(excercise.material);
$('#UoM'+row+'').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});
   
      
    });
    
     $("#delete7").click(function(){
      if($('#table7 >#body7 >tr').length>1){
          table7.row('tr:last').remove().draw( false );
          /*$('#table7 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 
});



</script>



<script>
$(document).ready(function(){

 

  $('#submit').click( function() {
   
  
    alert('submit');
/* var table7 = $('#table7').DataTable();
    var data7 = table7.$('input,select').serialize();
      alert('table7'+data7);*/
      

a=[]
dept= document.getElementById('dept').value;
asset=document.getElementById('assetcode').value;
a.push(dept);//0
a.push(asset);//1
document.getElementById("topval").value=a;
    }); 
  
});
</script>



{% endblock %}

