{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>Back Up</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Back Up</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
          
      <form>
      <div class="col-md-6">
        <div>
          {{form.host.label(class="control-label")}}
          {{form.host(class="form-control",placeholder="host name",style="width:150px")}}

          {{form.username.label(class="control-label")}}
          {{form.username(class="form-control",placeholder="user name",style="width:150px")}}

          {{form.password.label(class="control-label")}}
          {{form.password(class="form-control",placeholder="password",style="width:150px")}}

          {{form.foldername.label(class="control-label")}}
          {{form.foldername(class="form-control",placeholder="folder name",style="width:150px")}}<br>
        </div>

        <button type=submit value="Submit" id="show" class="btn btn-primary col-md-2 col-md-offset-1">Backup</button>
        
      </div> 
      </form>

  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-timepicker.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  
  
    table1=$('#example').DataTable( {
        "retrieve": true,
        "scrollX": "100%",

    });
  
});

</script>
  <script type="text/javascript">
document.getElementById('id-1.3').className ="active";
    </script>
{% endblock %}
