<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Penna Cements Limited is the Industry Leader in Manufacturing Cements ">
  <link rel="shortcut icon" href="/static/images/favicon.png" type="/static/image/png">

  <title>Welcome to Penna Cement Industries Limited Employee Portal</title>

  <link href="/static/css/style.default.css" rel="stylesheet">
  <!--   <link href="/static/css/style.katniss.css" rel="stylesheet"> -->

  <link href="/static/css/jquery.datatables.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
{% block links %}
{% endblock %}
</head>

<body >

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
  <div class="leftpanel">
    
    <div class="logopanel">
                       <h1><span><img  src="/static/images/logo.jpg" height="75" width="210" ></span></h1>

    </div><!-- logopanel -->
        
    <div class="leftpanelinner">    
        
        <!-- This is only visible to small devices -->
     
      

     <h5 class="sidebartitle"></h5>
      <ul class="nav nav-pills nav-stacked nav-bracket"> 
       <li id="id-1"><a href="/user/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
{% if user_details.ale or user_details.ob or user_details.al or user_details.rep or user_details.eh or user_details.hl%}

{% if user_details.us %}
<li id="id-1.2"><a href="/sessions/usersessions"><i class="fa fa-pencil-square-o"></i><span>UserSessions</span></a></li>
{% endif %}

{% if user_details.bk %}
<li id="id-1.3"><a href="/backup/backup"><i class="fa fa-leaf"></i><span>Back_up</span></a></li>
{% endif %}


{% if user_details.pl %}
<li id="id-1.1"><a href="/user/plant"><i class="fa fa-leaf"></i><span>Plants</span></a>
 </li>
{% endif %}

<li class="nav-parent" id="id-2"><a href=""><i class="fa fa-leaf"></i> <span>Leave Management</span></a>
         <ul class="children" id="a">
         <li id="id-2.1"><a href="/leave"><i class="fa fa-pencil-square-o"></i>Apply Leave</a></li>  
    
    <li id="id-2.2"><a href="/leave/history"><i class="fa fa-bar-chart-o"></i> Leave History</a></li>
      
{% if user_details.ob %}

  <li id="id-2.3"><a href="/leave/eapply"><i class="fa fa-external-link"></i>On Behalf</a></li>

    {% endif %}

   {% if user_details.al %}
    <li id="id-2.4"><a href="/leave/approvals"><i class="fa fa-check-square-o"></i> Leave Approvals</a></li>
  {% endif %} 

 {% if user_details.rep %}

         <li id="id-2.5"><a href="/leave/reports"><i class="fa  fa-files-o"></i>HR Leave Report</a></li>  
    {% endif %} 

  {% if user_details.eh %}

         <li id="id-2.6"><a href="/leave/ehistory"><i class="fa  fa-files-o"></i>RM Leave Report</a></li>  
    {% endif %}


   {% if user_details.hl%}
      <li id="id-2.7"><a href="/leave/holdleaves"><i class="fa  fa-shield"></i> Hold Leaves</a></li>
    {% endif %} 

         </ul>
 </li>
    {% endif %}


     {% if user_details.la or user_details.ae%}   
  <li class="nav-parent" id="id-3"><a href="/leave/"><i class="fa fa-cogs"></i> <span>Configure</span></a>
         <ul class="children" id="b">
        {% if user_details.la %}
         <li id="id-3.1"><a href="/leave/levels"><i class="fa  fa-sitemap"></i> Approval Levels</a></li> 
             {% endif %} 
    <li id="id-3.2"><a href="/leave/time"><i class=" glyphicon glyphicon-time"></i> Leave Time</a></li>
    {% if user_details.ae %}
      <li id="id-3.3"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
      {% endif %} 
         </ul>
 </li>
      {% endif %}


    {% if user_details.pa%}  

    <li class="nav-parent" id="id-4"><a href="/leave/"><i class="fa fa-check-square-o"></i> <span>Approvals </span></a>
         <ul class="children" id="c">
   {% if user_details.pa %}
         <li id="id-4.1"><a href="/user/profileapprovals"><i class="fa  fa-user"></i>Profile Approvals</a></li> 
  {% endif %} 

         </ul>
 </li>
  {% endif %} 

  
    {% if user_details.trade or user_details.nontrade or user_details.po or user_details.sales or user_details.coll or user_details.ag %}


   <li class="nav-parent" id="id-5"><a href="/leave/"><i class="fa fa-th-large"></i> <span>Product Apps</span></a>
         <ul class="children" id="d">
   {% if user_details.trade%}

         <li id="id-5.1"><a href="/user/trade"><i class="fa  fa-files-o"></i> Trade Order</a></li>  
    {% endif %} 

  {% if user_details.nontrade%}

         <li id="id-5.2"><a href="/user/nontrade"><i class="fa  fa-files-o"></i>  Non Trade Order</a></li>  
    {% endif %}

    {% if user_details.po%}

         <li id="id-5.6"><a href="/user/preports"><i class="fa  fa-files-o"></i>Pending Order Report</a></li>  
    {% endif %}


      {% if user_details.sales%}

         <li id="id-5.4"><a href="/user/sreports"><i class="fa  fa-files-o"></i>Sales Report</a></li>  
    {% endif %}
      {% if user_details.coll%}

         <li id="id-5.5"><a href="/user/creports"><i class="fa  fa-files-o"></i>Collection Report</a></li>  
    {% endif %}

    {% if user_details.ag  %}

         <li id="id-5.3"><a href="/user/areports"><i class="fa  fa-files-o"></i>Aging Report</a></li>  
    {% endif %}


       </ul>
   
 </li>
    {% endif %}
    
 {% if user_details.ps or  user_details.f16 %}
   <li class="nav-parent" id="id-15"><a href="/user/"><i class="fa fa-print"></i> <span>Payroll</span></a>
         <ul class="children" id="e">
    
{% if user_details.ps %}
        <li id="id-15.1"><a href="/payroll/payslips"><i class="fa fa-money"></i> Payslips</a></li>
{% endif %}
{% if user_details.f16 %}
<li id="id-15.2"><a href="/payroll/form16"><i class="fa fa-list-alt"></i> Form16</a></li>
{% endif %}

     </ul>
   
 </li>
 {% endif %} 



  {% if user_details.pmprcreation %}   
  <li class="nav-parent" id="id-16"><a href="/leave/"><i class="fa fa-cogs"></i> <span>PR Creation</span></a>
         <ul class="children" id="f">
        
         <li id="id-16.1"><a href="/pmpr/prcreation"><i class="fa  fa-check-square-o"></i> PR Order</a></li> 
       <li id="id-16.1"><a href="/pmpr/prcostcenter"><i class="fa  fa-check-square-o"></i>Costcenter</a></li>
       <li id="id-16.1"><a href="/pmpr/prproject"><i class="fa  fa-check-square-o"></i>Project & Network</a></li>
       <li id="id-16.1"><a href="/pmpr/prasset"><i class="fa  fa-check-square-o"></i>Asset Code</a></li>
<!-- 
      <li id="id-16.3"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
    
 <li id="id-16.4"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>

  <li id="id-16.5"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>

   <li id="id-16.6"><a href="/user/newemployee"><i class="glyphicon glyphicon-user"></i> Add/Block/Reset</a></li>
 -->
         </ul>
 </li>
      {% endif %}




{% if user_details.pmprapproval %}
 <li id="id-17"><a href="/pmpr/prapproval" ><i class="fa fa-check"></i> <span>PR Approval</span></a></li>
{% endif %}

{% if user_details.test %}
 <li id="id-110"><a href="/test/test" ><i class="fa fa-check"></i> <span>Test</span></a></li>
{% endif %}



{% if user_details.cr %}
 <li id="id-10"><a href="/user/createrole" ><i class="fa fa-check"></i> <span>Create Role</span></a></li>
{% endif %}
{% if user_details.ar %}
  <li id="id-11"><a href="/user/assignrole" ><i class="fa fa-check"></i> <span>Assign Role</span></a></li>
{% endif %}
{% if user_details.er %}
  <li id="id-13"><a href="/user/editrole" ><i class="fa fa-check"></i> <span>Edit Role</span></a></li>
{% endif %}



{% if user_details.sh %}
  <li id="id-14"><a href="/user/selecthr" ><i class="glyphicon glyphicon-user"></i> <span>Select HR</span></a></li>
{% endif %}

{% if user_details.ams %}
  <li id="id-12"><a href="/user/announcement" ><i class="fa fa-bullhorn"></i> <span>Announcement</span></a></li>
{% endif %}

<li id="id-24"><a href="/user/timesheet" ><i class="fa fa-cogs"></i> <span>Timesheet</span></a></li>






        <li id="id-8"><a href="http://mail.pennacement.com" target="_blank"><i class="fa fa-envelope"></i> <span>Email</span></a></li>
<li ><a href=" http://123.136.168.170/uts/customer.pl" target="_blank"><i class="fa fa-hand-o-up"></i> <span>Raise a Ticket</span></a></li>
<li ><a href="http://192.168.18.220:8080/Kaizen/" target="_blank"><i class="fa fa-retweet"></i> <span>Kaizen</span></a></li>


    
        <li id="id-9"><a href="/user/help"><i class="glyphicon glyphicon-question-sign"></i> <span>Help</span></a></li>
      </ul>
      

      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->
  
<script type="text/javascript">
  function timenow()
  {
  

    /* document.getElementById("notify").innerHTML="0"*/
      $.ajax({
      url:'/user/notificationstamp',
      type:"GET"

   });
      document.getElementById("notify").style.display="none";
  }

</script>




  <div class="mainpanel">
    
    <div class="headerbar">
      
<a class="menutoggle"><i class="fa fa-bars"></i></a>
      
      <div class="header-right">
        <ul class="headermenu">

          <li>
            <div class="btn-group">
              <button onclick="timenow()" class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                {% if user_details.notify_num != 0%}
                <script type="text/javascript">
document.getElementById("notify").style.display="block";
                </script>
                <span  id="notify" class="badge">{{user_details.notify_num}}</span>
               {% endif %}
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">Notifications</h5>
                <ul class="dropdown-list gen-list">

{% set i=0 %}
{% for notify in user_details.notification|reverse %}
{% if i < 5 %} 
                  <li class="new">
                    <a href="#">
                    <span class="desc">
                    <span class="msg">{{ notify.msg}}</span>
                    </span>
                    </a>
                  </li>
 {% endif %}                
{% set i=i+1 %}
{% endfor %}
               
                  <li class="new"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
Show All Notification 
</button></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
<div class="modal fade bs-example-modal-lg " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">All Notification</h4>
      </div>

      <div class="modal-body">
    {% if user_details.cr %}

    {%elif user_details.notification%}
      {% set i=user_details.notification[-1].created_time.strftime('%d-%m-%Y') %}
      <strong>{{i}}</strong><hr>
      {% for notify in user_details.notification|reverse  %}
      
      {% if i == notify.created_time.strftime('%d-%m-%Y') %}
      <table class="table">
 <tr> {{ notify.msg}}</tr>
</table>
      
      {% else %}
      {% set i=notify.created_time.strftime('%d-%m-%Y') %}
      <strong>{{ notify.created_time.strftime('%d-%m-%Y')}}</strong> <hr>
      {% endif %}
       
      {% endfor %}

{% endif %}
      </div>
    
    </div>
  </div>
</div>




            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <img id="blah3" src="{{ user_details.profpic }}" alt="" width="26" height="26" />
                {{ user_details.f_name }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="/user/changepassword"><i class="glyphicon glyphicon-cog"></i> Change Password</a></li>
                <li><a href="/user/signout"><i class="fa  fa-power-off"></i>Sign Out</a></li>
                
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- header-right -->
      
    </div><!-- headerbar -->
{% block pageheader %}{% endblock %} 
<div class="contentpanel">   

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
         <div class="alert {{category}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        
         {{ message }} 
        
       </div>
       {% endfor %}
      {% endif %}
    {% endwith %}

    
{% block contentpanel %}{% endblock %}
</div><!-- contentpanel -->
  </div><!-- mainpanel -->  
</section>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/toggles.min.js"></script>
<script src="/static/js/retina.min.js"></script>
<script src="/static/js/jquery.cookies.js"></script>
<script src="/static/js/morris.min.js"></script>
<script src="/static/js/raphael-2.1.0.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/custom.js"></script>
<script type="text/javascript" src="/static/js/bootbox.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
