﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Consumption</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Consumption</li>
        </ol>
      </div>
    </div>
{% endblock %} 
{% block contentpanel %}    
    
      
<div class="row">
        <div class="col-md-12" id="errormsg">          
        </div>  
        
  <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Consumption</h4>
        </div><!-- panel-heading -->
          <div class="panel-body">
             <form id="consumptionform" action="" method="POST">
               <div class="row">
                 <br/>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">               
                              <input  id="start_date" class="form-control" name="date_from" type="text" value="" placeholder=" From  Date">
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                         <div class="form-group">
                              <label>To</label>
                        </div>
                    </div>
                   <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input  id="end_date" class="form-control" name="date_to" type="text"  value="" placeholder="To  Date">
                       </div>
                  </div>
              </div>
                <div class="row">
                <br/>
                   <div class="col-sm-12 col-md-4">
                        <div class="form-group">               
                           <input  id="sold_to_id" class="form-control sold_to_id"  name="purchase_numberf" type="hidden" value="" placeholder=" From Department" onchange="chng()" required> 
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                       <div class="form-group">
                          <lable>To</label>
                       </div>
                     </div>
                   <div class="col-sm-12 col-md-4">
                     <div class="form-group ">
                        <input  id="sold_to_add" class="form-control sold_to_id" name="purchase_numbert" type="text" value="" placeholder="To Department" onchange="chng()" required>
                      </div>
                   </div>
                </div>
              
              <div class="row">
                <br/>
                   <div class="col-sm-12 col-md-4">
                      <div class="form-group">               
                          <input  id="function_location_from" class="form-control sold_to_id" name="function_location_from" type="hidden" onchange="chng()" value="" placeholder=" From Function Location "> 
                     </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                       <div class="form-group">
                          <label>To</label>
                        </div>
                     </div>
                    <div class="col-sm-12 col-md-4">
                       <div class="form-group">
                          <input  id="function_location_to" class="form-control sold_to_id" name="function_location_to" type="hidden" onchange="chng()" value="" placeholder="To Function Location">
                       </div>
                     </div>
              </div>
            <div class="row">
                 <br/>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">               
                              <input  id="equipment_from" class="form-control sold_to_id" name="equipment_from" type="hidden" onchange="chng()" value="" placeholder=" From Equipment">
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                         <div class="form-group">
                              <label>To</label>
                        </div>
                    </div>
                   <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input  id="equipment_to" class="form-control sold_to_id" name="equipment_to" type="hidden" onchange="chng()" value="" placeholder="To Equipment">
                       </div>
                  </div>
              </div>
              <div class="row">
                 <br/>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">               
                              <input  id="cost_center_from" class="form-control sold_to_id" name="cost_center_from" type="hidden" onchange="chng()" value="" placeholder=" From Cost Center">
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                         <div class="form-group">
                              <label>To</label>
                        </div>
                    </div>
                   <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input  id="cost_center_to" class="form-control sold_to_id" name="cost_center_to" type="hidden" onchange="chng()" value="" placeholder="To Cost Center">
                       </div>
                  </div>
              </div>
              <div class="row">
                <br/>
                 <div class="col-sm-12 col-md-4 col-sm-offset-2">            
                       <div class="form-group">
                          <input type="submit" value="Submit" class="btn btn-primary btn-block">
                        </div>    
                 </div>
            </div>   
       </form>                                                
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div>        
</div><!-- row -->

<div class="row">        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Consumption </h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
    <table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>            
                    <tr>
                       <th>Posting Dt</th>
                       <th>Ctrl Key</th>
                       <th>WorkCenter</th>
                       <th>Functional Loc</th>
                        <th>Equip</th>
                       <th>Equip Desc</th>
                       <th>Material</th>
                       <th>Mat Desp</th>
                       <th>Qty</th>
                      <th>UoM</th>
                        <th>Amount</th>
                        <th>Reversal Qty</th>
                      <th>Reversal Amt</th>
                      <th>Total Qty</th>
                      <th>Total Amt</th>
                       <th>Specification</th>
                    </tr>
          </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>    
    </table>
    </form>
 </div>
    </div><!-- portlet content -->
    </div><!-- lg-->
    </div> <!-- row-->
</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript">
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;
$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});

var dis1 = document.getElementById("start_date");
dis1.onchange = function () {
   if (this.value != "") {
      $('#end_date').datepicker('remove');
      document.getElementById("end_date").value = '';
      document.getElementById("end_date").disabled = false;
      $('#end_date').datepicker({startDate:this.value,
    format: "dd/mm/yyyy",
    autoclose: true
});
   }else{
    document.getElementById("end_date").value = '';
    document.getElementById("end_date").disabled = true;
    $('#end_date').datepicker('remove');
   }
}

$( "#leave_type" ).change(function() {  
var a =document.getElementById("leave_type").value;
var b = $("input[name=leave]:checked").val();
if(b ==1){
  if(a == 'CL' || a == 'SL'){
    document.getElementById("display_lta").style.display="none";
$('#start_date').datepicker('remove');
$('#start_date').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
});}
else if (a == 'EL'){
  document.getElementById("display_lta").style.display="block";
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
}); 
}
else{
  document.getElementById("display_lta").style.display="none";
   $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}
}
else{
  $('#start_date').datepicker('remove');
 $('#start_date').datepicker({startDate: today,
    format: "dd/mm/yyyy",
    autoclose: true
});  
}
});

$('#halfday').click(function () {
    $("#halfdaydiv").toggle(this.checked);
});

function leavetypefun(ltype){
if(ltype==1){
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="CL" selected>Casual leave</option>');
$('#leave_type').append('<option value="SL">Sick leave</option>');
$('#leave_type').append('<option value="LWP">Leave without pay</option>');
$('#leave_type').append('<option value="EL">Earned leave</option>');   
document.getElementById("reason").placeholder="Leave reason";              
}
else{
$('#leave_type').find('option').remove();
$('#leave_type').append('<option value="1" >Tour</option>');
$('#leave_type').append('<option value="2" selected>On-Duty</option>');
document.getElementById("reason").placeholder="Attendance reason";
}
}
$('#tr1').dzscalendar({});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable( {
        "scrollX": true
    } );

} );

</script>
  <script type="text/javascript">
  document.getElementById('id-4').className ="nav-parent nav-active active";
      document.getElementById("c").style.display = "block";
document.getElementById('id-4.1').className ="active";
    </script>
<script type="text/javascript">
function chng()
{

document.getElementById("pricetable").innerHTML = "";
document.getElementById("submitoption").innerHTML ='<button  type="button" onclick="fetch()" class="btn btn-primary btn-block">GET PRICE</button>';
}
</script>




<script>

function display(exc)
{

document.getElementById("sold_to_add").innerHTML=exc.STRAS+','+exc.ORT01+','+exc.BEZEI+','+exc.LANDX+','+exc.PSTLZ+','+exc.TELF1;
document.getElementById("ship_to_id").value=exc.KUNN2;
document.getElementById("ship_to_add").innerHTML=exc.STRAS_WE+','+exc.ORT01_WE+','+exc.BEZEI_WE+','+exc.LANDX_WE+','+exc.PSTLZ_WE+','+exc.TELF1_WE;
document.getElementById("destination").value=exc.DESTINT;
document.getElementById("sales_rep").value=exc.KUNN3;
}


$(document).ready(function() {
    $('.sold_to_id').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/user/getcustomerlist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.KUNNR+">"+excercise.NAME1+"--"+excercise.KUNN2+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.KUNNR;
        },
        formatAjaxError: function(){
          return 'Customer Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#sold_to_id").val(excercise.KUNNR);
    display(excercise);
    chng();
            return excercise.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

    $('.material_code').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdmaterialslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.MATNR+">"+excercise.MAKTX+" </div>"; 
   
        },
        id: function(excercise){
          return excercise.MATNR;
        },
        formatAjaxError: function(){
          return 'Material Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material_code").val(excercise.MATNR);
    chng();
            return excercise.MAKTX; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.plant').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdplantslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.WERKS+">"+excercise.NAME1+" </div>"; 
  
        },
        id: function(excercise){
          return excercise.WERKS;
        },
        formatAjaxError: function(){
          return 'Plant Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#plant").val(excercise.WERKS);
    chng()
            return excercise.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
});

 


      $( "button[data-select2-open]" ).click( function() {
        $( "#" + $( this ).data( "select2-open" ) ).select2( "open" );
      });

      
        var select2OpenEventName = "select2-open";

        $( ":checkbox" ).on( "click", function() {
          $( this ).parent().nextAll( "select" ).select2( "enable", this.checked );
        });
      

      $( ".select2, .select2-multiple, .select2-allow-clear, .select2-remote, .sold_to_id .material_code .plant" ).on( select2OpenEventName, function() {
        if ( $( this ).parents( "[class*='has-']" ).length ) {
          var classNames = $( this ).parents( "[class*='has-']" )[ 0 ].className.split( /\s+/ );

          for ( var i = 0; i < classNames.length; ++i ) {
              if ( classNames[ i ].match( "has-" ) ) {
                $( "#select2-drop" ).addClass( classNames[ i ] );
              }
          }
        }

      });

    </script>
    <script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("consumptionform"));
  $.ajax({
        url: '/user/getprice',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response.error == 'yes'){
                    var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>'+response.message+'</span></div>'
              document.getElementById("errormsg").innerHTML = text;
                  }
                  else{
                   var text='<table class="table table-bordered table-condensed table-hover"><thead><tr><th>COND TYP</th><th>PRICE</th></tr></thead><tbody>';
          text+='<tr><td>Invoice Price</td><td>'+response.EX_ZINV+'</td></tr><tr><td>Road Freight Amount</td><td>'+response.EX_ZFRT+'</td></tr><tr><td>Rail Freight Amount</td><td>'+response.EX_ZFR3+'</td></tr><tr><td>VAT</td><td>'+response.EX_JIVP+'</td></tr><tr><td>CST</td><td>'+response.EX_JIVC+'</td></tr><tr><td>Basic Exice Duty</td><td>'+response.EX_JEXT+'</td></tr><tr><td>Edu Cess</td><td>'+response.EX_JECT+'</td></tr><tr><td>S.Edu Cess</td><td>'+response.EX_JSET+'</td></tr></tr><tr><td>Net Realization</td><td>'+response.EX_ZBAS+'</td></tr><tr><td>Total Amount</td><td>'+response.EX_NETWR+'</td></tr></tbody></table>'
          document.getElementById("pricetable").innerHTML = text;
          var text1='<input type="hidden" value="'+response.EX_QUOT_NO+'" name="quot_no">';
          text1 +='<input type="hidden" value="'+response.EX_ZINV+'" name="zinv">';
          text1 +='<input type="hidden" value="'+response.EX_ZFRT+'" name="zfrt">';
          text1 +='<input type="hidden" value="'+response.EX_ZFR3+'" name="zfr3">';
          text1 +='<input type="hidden" value="'+response.EX_JIVP+'" name="jivp">';
          text1 +='<input type="hidden" value="'+response.EX_JIVC+'" name="jivc">';
          text1 +='<input type="hidden" value="'+response.EX_JEXT+'" name="jext">';
          text1 +='<input type="hidden" value="'+response.EX_JECT+'" name="ject">';
          text1 +='<input type="hidden" value="'+response.EX_JSET+'" name="jset">';
          text1 +='<input type="hidden" value="'+response.EX_ZBAS+'" name="zbas">';
          text1 +='<input type="hidden" value="'+response.EX_NETWR+'" name="netwr">';
          text1 +='<input type="submit" value="Submit" class="btn btn-primary btn-block">';
document.getElementById("submitoption").innerHTML = text1;
}}

  });
}
    </script>
{% endblock %}
