﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table3,#table4{table-layout:fixed;}
</style>
{% endblock %}
  {% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> Cost Center</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Cost Center</li>
        </ol>
      </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
        <div class="col-md-12">
          <div class="panel panel-default">


        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Cost Center</h4>
           </div><!-- panel-heading -->



<div class="panel-body">
<div class="form-group">





<div class="form-group">  
<div class="col-md-6">
<div class="form-inline">
  <label>Department </label> 
        <select class="form-control" id="dept" name="dept" required>
          {% if dept %}
          {% for dep in dept%}
                                <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                {% endfor %}
                                    {% endif %}
        </select>                       
</div>
</div>     

              
                     <div class=" col-md-4">
                        <div class="form-group">               
                           <input  id="cost_center" class="form-control cost_center"  name="cost_center" type="text" value="" placeholder="  Cost Center"  required> 
                         </div>
                    </div>
                    
  </div>                  


<div class="form-group">
<div class="col-md-4">
<input type="radio" id="" name="tabl" value="ZRGS"  checked="checked" onchange="tablechange(this.value)" >Component
</div>
<div class="col-md-4">
<input type="radio" id="" name="tabl" value="ZRSV" onchange="tablechange(this.value)">Services
</div>
</div>

<form id="tradeform" action="" method="POST" enctype="multipart/form-data">
<div id="component" >

<table id="table3" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
                <th>Mat.Type</th>
                <th>Material</th>
                
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Value</th>
    <th>Delivery Date</th>
    <th>Attachments</th>
   
            </tr>
        </thead>


        <tbody id="body3">
      <tr>
     
      
      <td>
         <select  id="Desription" class="form-control description" name="description3">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      </td>
      <td>
            <input class="form-control material" id="material" name="material3" style="width:200px" type="hidden" value="" placeholder="material" required>
      </td>
      <td>
        <input id="Quantity" type="number"  class="form-control quantity" name="quantity3" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UoM" type="text"  class="form-control uom" name="uom3" size="10" readonly="readonly">
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value3" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="Date3" type=""  class="form-control date" name="date3" size="11">
      </td>
      <td>
        <input  class="file" type="file" name="file3[]" style="width:90px">
      </td>
    </tr>
        </tbody>
    </table>
     <div class="row">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add3" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete3" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 

</div>
<br>
<div id="service" >
<table id="table4" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
                
           
                <th>Service Description</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Value</th>
   
    <th>Delivery Date</th>
    <th>Attachments</th>
  
            </tr>
        </thead>


        <tbody id="body4">
      <tr>
      
      
      <td>
        <input id="Desc" type="text" class="form-control description" name="description4">
      </td>
      <td>
        <input id="Quant" type="number"  class="form-control quantity" name="quantity4" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UM" type="text"  class="form-control uom" name="uom4" size="10" readonly="readonly">
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value4" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="Date4" type="text"  class="form-control date" name="date4" size="11">
      </td>
      <td>
        <input  class="file" type="file" name="file4[]" style="width:90px">
      </td>
    </tr>
        </tbody>
    </table>
     <div class="row">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add4" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete4" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 
</div>
     
            
       </form>    

</div>



</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  

{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>



  

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>-->

<script type="text/javascript">


function tablechange(chang){
if(chang=="ZRGS"){
  $('#component').show();
  $('#service').hide();
}
else
{
  $('#component').hide();
  $('#service').show();
}
}
</script>






<script>
$(document).ready(function() {
   
$('.cost_center').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/costcenter",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.cost_center;
        },
        formatAjaxError: function(){
          return 'Cost Center Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#cost_center").val(excercise.cost_center);
    
            return excercise.cost_center; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
	$('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
$('#UoM').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

});


</script>


<!-- validation of number only entry -->
<script type="text/javascript">
  function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)){
        return false;
    }else{
      return true;
    }
}
 $('.age').bind("cut copy paste",function(e) {
          e.preventDefault();
      });

</script>

<script type="text/javascript">

$(document).ready(function(){
  

   if ( $.fn.dataTable.isDataTable( '#table3' ) ) {
    table3 = $('#table3').DataTable();
}
else {
    table3 = $('#table3').DataTable( {
      "scrollX": "100%",
       "paging": false,
        "bSort": false,
	"columnDefs": [
    { "width": "10opx", "targets": 1 }
  ],
     "bFilter": false
    } );
}
 if ( $.fn.dataTable.isDataTable( '#table4' ) ) {
    table4 = $('#table4').DataTable();
}
else {
    table4 = $('#table4').DataTable( {
      "scrollX": "100%",
       "paging": false,
        "bSort": false,
     "bFilter": false
    } );
}      



      $('#Date3,#Date4').datepicker({format:"dd.mm.yyyy"});
      /*$(':file').filestyle({badge:true,input:false});*/
      $('#table3,#table4 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
      if(val!=""){
        if(!(pdfFormat.test(val))) {
         /* $(':file').filestyle('clear');       */ 
          alert('Unsupported file pdf format only');
          $(this).val('');
        }
      }
      }); 
    
       
   



      $('#add3').on( 'click', function () {
           row = $('#table3 >#body3 >tr').length;
     
              table3.row.add( [
    
    
     '<select  id="Desription'+row+'" class="form-control description" name="description3">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
    ' <input class="form-control material'+row+'" id="material'+row+'" name="material3" style="width:200px" type="hidden" value="" placeholder="material" required>',
    '<input id="Quantity" type="number"  class="form-control quantity" name="quantity3" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom3" size="10" readonly="readonly">',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value3" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date3" size="11">',
    '<input  class="file" type="file" name="file3[]" style="width:90px">'
    
    
            ] ).draw();
           

     
	$('.material'+row+'').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription'+row+'').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$('#material'+row+'').val(excercise.material);
$('#UoM'+row+'').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});
      $('.date').datepicker({format:"dd.mm.yyyy"});
     /* $(':file').filestyle({badge:true,input:false});*/
      $('#table3 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
 if(val!=""){
        if(!(pdfFormat.test(val))) {
          /*$(':file').filestyle('clear'); */       
          alert('Unsupported file pdf format only');
          $(this).val('');
        }
      }
        }); 

      
          });

         $("#delete3").click(function(){
      if($('#table3 >#body3 >tr').length>1){
          table3.row('tr:last').remove().draw( false );
          /*$('#table3 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

    


      $('#add4').on( 'click', function () {
           row = $('#table4 >#body4 >tr').length;
     
              table4.row.add( [
    
    '<input id="Desc" type="text" class="form-control description" name="description4">',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity4" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UM" type="text"  class="form-control uom" name="uom4" size="10" readonly="readonly">',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value4" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date4" size="11">',
    '<input  class="file" type="file" name="file4[]" style="width:90px">'
    
          ] ).draw();
           
    $('.date').datepicker({format:"dd.mm.yyyy"});
    /*$(':file').filestyle({badge:true,input:false});*/
    $('#table4 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
 if(val!=""){
        if(!(pdfFormat.test(val))) {
          /*$(':file').filestyle('clear'); */       
          alert('Unsupported file pdf format only');
          $(this).val('');
        }
      }
      }); 
   
        });
    $("#delete4").click(function(){
      if($('#table4 >#body4 >tr').length>1){
          table4.row('tr:last').remove().draw( false );
          /*$('#table4 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

 $('#service').hide();
});
   </script>
   



<script>
$(document).ready(function(){

  $('#submit').click( function() {
   
  
    alert('submit');


 
a=[]
dept= document.getElementById('dept').value;

cost_center=document.getElementById('cost_center').value;
tabl=document.querySelector('input[name="tabl"]:checked').value;


a.push(dept); //0
a.push(tabl);//1
a.push(cost_center);//2


alert(a);
document.getElementById("topval").value=a;
    
  }); 
  
});
</script>




{% endblock %}

