{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Edit Role</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Edit Role</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-6 col-md-offset-2">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Edit Role</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-1">


    <div class="form-group">
    {{form.roles.label(class="control-label")}}
    {{form.roles(class="form-control")}}</div>
<div class="form-group">
    {{form.select_permissions.label(class="control-label")}}
    {% for subfield in form.select_permissions%}

    <br>{{subfield}} {{subfield.label}}
 
    {% endfor %}
  </div>
</div>
    </div><div class="row">
    <div id = "ex" class="col-sm-4 col-sm-offset-1"></br>
    <button type=submit value="Update Role" class="btn btn-primary btn-block">Update Role</button></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
function getCheckboxByValue(v) {
        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
                if(inputs[i].type == "checkbox" && inputs[i].value == v) {
                        return inputs[i];
                }
        }
        return false;
}
function Checkboxesuncheked() {
        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
                if(inputs[i].type == "checkbox") {
                        inputs[i].checked = false;
                }
        }
}
$('#roles').change(function() {
  Checkboxesuncheked();
  var deg = $( "#roles" ).val();
    $.ajax({
                     url:"/user/getrolepermissions",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                      for(var i=0;i<data.permissions.length;i++){
                      getCheckboxByValue(data.permissions[i]).checked = true;
                      }
                      var inputs = document.getElementsByTagName('input');
                      arr = []
                      $(inputs).click(function() {
                        var $this = $(this); 
                        var test = this.id
                        if ($this.is(':checked')) {
                          if($.inArray(test, arr) > -1){
                            arr[1] = "checked"
                          }else{
                          arr.push(test,"checked");
                          }
                          alert(arr);
                        }else{
                          if ($this.is(':unchecked')) {
                            if($.inArray(test, arr) > -1){
                              arr[1] = "unchecked"
                            }else{
                            arr.push(test,"unchecked");
                            }
                          alert(arr);
                          }
                        }
                      });
                     }
                   })
                  $("button").click(function(){ 
                      alert(arr);
                               });
});
</script>
<script type="text/javascript">
document.getElementById('id-13').className ="active";
</script>
{% endblock %}
