{% extends "base.html" %}
{% block pageheader %}     
    <div class="pageheader">
      <h2><i class="glyphicon glyphicon-question-sign"></i>Help</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li class="active">Help</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}

       
      <div class="row">
        
        
        <div class="col-md-12">
  
     <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#home3" data-toggle="tab"><strong>Manual</strong></a></li>
          <li><a href="#profile3" data-toggle="tab"><strong>Policies</strong></a></li>
         
        </ul>

<div class="tab-content">
          <div class="tab-pane active" id="home3">





          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">

                <h4 class="panel-title">

                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                   What are the features avaliable in Dashboard?                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body">
       <img src="/static/screenshot/Employee/Dashboard.png" class="img-responsive" >
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
                   How to change password?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
              <img src="/static/screenshot/Employee/ChangePassword.png" class="img-responsive" >
                </div>
              </div>
            </div>
   <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
                   How to edit profile details?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/myprofilechange.png" class="img-responsive" >
                </div>
              </div>
            </div>
{% if user_details.ale%}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour">
                   How to Register Leave?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/applyleave.png" class="img-responsive" >
                </div>
              </div>
            </div>



            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive">
                   How to view leave history?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/LeaveHistory.png" class="img-responsive" >
                </div>
              </div>
            </div>
      {%endif%}

   {% if user_details.al %}

    <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix">
                   How to approve leaves?
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/RM/RM_Approvals.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}



  {% if user_details.eh %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeven">
                   How to view leave reports of employees?
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/RM/RM_leaveReports.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ob %}
 <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEight">
                   How to apply leave on behalf of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/On_Behalf.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}




  {% if user_details.rep %}
  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNine">
                   How to view leave reports of employees?
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/leave_report.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.hl%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTen">
                   How to hold leave of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Hold_leaves.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


 {% if user_details.la%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEleven">
                   How to approve levels?
                  </a>
                </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/config_approvallevels.png" class="img-responsive" >
                </div>
              </div>
            </div>

<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwelve">
                   How to set leave time?
                  </a>
                </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Config_LeaveTime.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.ae %}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThirteen">
                   How to Add/Block/Reset employee?
                  </a>
                </h4>
              </div>
              <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Config_AddBlockReset.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.pa%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFourteen">
                   How to approve profile request of an employee?
                  </a>
                </h4>
              </div>
              <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/Approvals_profile.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


  {% if user_details.trade%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFifteen">
                   How to view trade form?
                  </a>
                </h4>
              </div>
              <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Trade.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.nontrade%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSixteen">
                      How to view nontrade form?
                  </a>
                </h4>
              </div>
              <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/NonTrade.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

 {% if user_details.po%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeventeen">
                    How to view Pending Order report?
                  </a>
                </h4>
              </div>
              <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Pending_order.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.sales%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEighteen">
                   How to view Dispatch/Sales report?
                  </a>
                </h4>
              </div>
              <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Sales_dispatch.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.coll%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNineteen">
                 How to view Collection report?
                  </a>
                </h4>
              </div>
              <div id="collapseNineteen" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Collection.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}
 {% if user_details.ag%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwenty">
               How to view Aging report?
                  </a>
                </h4>
              </div>
              <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/PM/Aging.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}



{% if user_details.cr%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyone">
               How to Create Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/Role.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ar%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentytwo">
               How to Assign Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentytwo" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/AssignRole.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.er%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentythree">
               How to Edit Role?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentythree" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/edit.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.sh%}
<div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyfour">
               How to Select HR?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyfour" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Admin/SelectHr.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}








{% if user_details.ps%}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyfive">
                  What is Paylip?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyfive" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/payslip.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


{% if user_details.f16 %}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentysix">
                  What is Form16?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentysix" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/Employee/Form16.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}

{% if user_details.ams %}

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyseven">
                  How to announce any matter ?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyseven" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/HR/announcement.png" class="img-responsive" >
                </div>
              </div>
            </div>
{%endif%}


  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentyeight">
                  How to create MIV?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentyeight" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivcreation.png" class="img-responsive" >
                </div>
              </div>
            </div>

  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwentynine">
                  How to approve MIV?
                  </a>
                </h4>
              </div>
              <div id="collapseTwentynine" class="panel-collapse collapse">
                <div class="panel-body">
               <img src="/static/screenshot/MIV/mivapprovals.png" class="img-responsive" >
                </div>
              </div>
            </div>








          </div>






</div>
<div class="tab-pane" id="profile3">
     <img src="/static/screenshot/policy/Tablet Usage Policy.jpg" class="img-responsive" >


</div>



</div>







</div>        
      </div><!-- row -->
      

	  

{% endblock %}     
{% block scripts %}
  <script type="text/javascript">
document.getElementById('id-9').className ="active";
    </script>
{% endblock %} 
