{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-shield"></i>Hold Leaves</h2>
    <!--   <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Hold Leaves</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Hold Leaves</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
            <script type="text/javascript">

$(document).ready(function(){

$('#hold').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to hold ?", function (response) {
            if (response) {
                $('#hold').trigger('click', true);
            }
        });
    }

  });





$('#unhold').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to unhold ?", function (response) {
            if (response) {
                $('#unhold').trigger('click', true);
            }
        });
    }

  });


 });


            </script>   
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Action</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in employee_att %}
            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']|capitalize()}}</td>
                <td>{{e['attribute']|capitalize()}}-{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
                 2nd Half of{{ e['start_date']}} <br>
                 1st half of {{ e['end_date']}}
                 {% else %}
                 {% if e['halfdays'][0] == 1 %}
                 2nd Half of {{ e['start_date']}}
                 {% else %}
                 1st Half of {{ e['end_date']}}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                  <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid" />
             {% if e['hr_status']== 'unhold' %}
             <input name="submit"  type="submit" class="btn btn-warning tooltips" data-placement="top" data-original-title="Hold"  id="hold" value="Hold" />
             {% elif e['hr_status']== 'hold' %}
              <input name="submit" type="submit" class="btn btn-success tooltips" data-placement="top" data-original-title="Unhold "  id="unhold" value="Unhold" />             
             {% endif %}
           </form>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
  <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.7').className ="active";
    </script>
{% endblock %}
