{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}  
    <div class="pageheader">
      <h2><i class="fa fa-home"></i>Dashboard</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">Last Login:</span>
        <ol class="breadcrumb">
             {% if user_details.last_login == "Welcome to My Portal"%}
             {{user_details.last_login}}
             {%else%}
        {{user_details.last_login.strftime('%d-%b-%Y %I:%M %p')}}
        
        {%endif%}
       
        </ol>
      </div>
    </div>
{% endblock %} 
{% block contentpanel %} 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script type="text/javascript" src="/static/js/bootbox.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

$('#revoke').on('click', function (e, confirmed) {
   if (!confirmed) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to cancel the leave?", function (response) {
            if (response) {
                $('#revoke').trigger('click', true);
            }
        });
    }

  });

  });

</script>



  {%if birthday%}

  <script type="text/javascript">
$( document ).ready(function() {
 bootbox.alert("<center><img src='/static/birthday/{{birthday}}.jpg' width='200px' height='200px'> </center>", function() {
           })
    });
  </script>
    


        {%endif%}


      <div class="row">
  {% if user_details.ale %}      
        <div class="col-sm-4 col-md-2">
		<a href="/leave/apply/">
          <div class="panel panel-primary panel-stat">
            
              <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Apply Leave</h3>
                </div><!-- panel-body -->
              </div><!-- panel -->
            
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
        

        <div class="col-sm-4 col-md-2">
		<a href="/leave/history/">
          <div class="panel panel-primary panel-stat">
            
              <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Leave History</h3>
                </div><!-- panel-body -->
              </div><!-- panel -->
            
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
        

        {%endif%}
        {% if user_details.ps %}
                <div class="col-sm-4 col-md-2">
				<a href="/payroll/payslips/">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-money"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Payslips</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
			</a>
        </div><!-- col-sm-6 -->
        {%endif%}
        {% if user_details.f16 %}
                <div class="col-sm-4 col-md-2">
				<a href="/payroll/form16/">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-list-alt"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Form16</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
        {%endif%}
                {% if user_details.cr %}
                <div class="col-sm-4 col-md-2">
				<a href="/user/createrole">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-check"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Create Role</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
        {%endif%}
            {% if user_details.ar %}
                <div class="col-sm-4 col-md-2">
				<a href="/user/assignrole">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-check"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Assign Role</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
        {%endif%}
                    {% if user_details.er %}
                <div class="col-sm-4 col-md-2">
        <a href="/user/editrole">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-check"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Edit Role</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 -->
        {%endif%}
        {% if user_details.la %}
        <div class="col-sm-4 col-md-2">
		<a href="/leave/levels">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-sitemap"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">leave levels</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
             {% endif %} 
    {% if user_details.ae %}
            <div class="col-sm-4 col-md-2">
			<a href="/user/newemployee">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Add Employee</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 -->
      {% endif %} 
   {% if user_details.pa %}
               <div class="col-sm-4 col-md-2">
			   <a href="/user/profileapprovals">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-user"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Profile Approvals</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
  {% endif %}
     {% if user_details.al %}
                    <div class="col-sm-4 col-md-2">
					<a href="/leave/approvals">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-check-square-o"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Leave Approvals</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
  {% endif %} 
   {% if user_details.hl %}
                       <div class="col-sm-4 col-md-2">
					   <a href="/leave/holdleaves">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-shield"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Hold Applied Leaves</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
    {% endif %} 
        {% if user_details.rep %}
                               <div class="col-sm-4 col-md-2">
							   <a href="/leave/reports">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-files-o"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Leave Reports</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
    {% endif %} 
	        {% if user_details.ams %}
                               <div class="col-sm-4 col-md-2">
							   <a href="/user/announcement">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-bullhorn"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Announcement</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
    {% endif %} 
	        {% if user_details.lt %}
                               <div class="col-sm-4 col-md-2">
							   <a href="/leave/time">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="glyphicon glyphicon-time"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Approval Time</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
		  </a>
        </div><!-- col-sm-6 --> 
    {% endif %}

 {% if user_details.eh %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/leave/ehistory">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa  fa-files-o"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Leave Reports</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}


 {% if user_details.sh %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/selecthr">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Select HR</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}


 {% if user_details.ob %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/leave/eapply">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">On Behalf</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}


 {% if user_details.trade %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/trade">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Trade</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}

 {% if user_details.nontrade %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/nontrade">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Non Trade</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}



 {% if user_details.ag %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/areports">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Aging</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}
     {% if user_details.sales %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/sreports">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Dispatch/Sales</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}

     {% if user_details.coll %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/creports">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Collection</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}
     {% if user_details.po %}
                               <div class="col-sm-4 col-md-2">
                 <a href="/user/preports">
          <div class="panel panel-primary panel-stat">
            <div class="panel panel-primary panel-alt widget-time">
                <div class="panel-heading text-center">
                  <i class="fa fa-external-link"></i>
                </div>
                <div class="panel-body text-center">
                  <h3 class="today" style="color:#428bca">Pending Order</h3>
                </div><!-- panel-body -->
              </div>
          </div><!-- panel -->
      </a>
        </div><!-- col-sm-6 --> 
    {% endif %}










      </div><!-- row -->



{% if lh %}         
      <div class="row">
               
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance Status</h4>
           </div><!-- panel-heading -->



        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Type</th>
                <th>Leave Reason</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in lh %}

            <tr>

                <td>{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
                 2nd Half of{{ e['start_date']}} <br>
                 1st half of {{ e['end_date']}}
                 {% else %}
                 {% if e['halfdays'][0] == 1 %}
                 2nd Half of {{ e['start_date']}}
                 {% else %}
                 1st Half of {{ e['end_date']}}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                {% if e['hr_status'] == 'hold' %}
                your {{e['attribute']}} has been hold by {{ e['hr_name']}}
                {% elif e['current_discuss'] == '1' %}
                Meet {{e['current_al_name']}} to discuss about your {{e['attribute']}}
                {% else %}
                Need approval from {{e['current_al_name']}}
                {% endif %}
                </td>
                <td><form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid" />
             <button name="submit" type="submit" id="revoke" class="btn btn-danger"> Revoke</button>           
           </form></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    

 {% endif %}  




{% if ams %}         
      <div class="row">
               
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Announcements</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

<script type="text/javascript">
var announce = new Array();
{% set i=0 %}
{% for am in ams%}
announce[{{i}}] = "{{am['announcement']}}";
console.log(announce[{{i}}] = "{{am['announcement']}}");
{% set i=i+1 %}
{% endfor %}

</script>

<p class="alert alert-info fade in nomargin demo content2">{{ams[0]["announcement"]}} </p>
                        <p class="demo demo2 col-md-offset-9"></p>



                    </div>

   
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    

 {% endif %}       
      
      

{% endblock %} 
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
 <script type="text/javascript" src="/static/js/jquery.bootpag.min.js"></script>

   <script type="text/javascript">
                        $('.demo2').bootpag({
                           total: announce.length,
                           page: 1,
                           maxVisible: 10 
                        }).on('page', function(event, num){
                            $(".content2").html(announce[num-1]); // or some ajax content loading...
                        });
                       
                    </script>

<script type="text/javascript">
document.getElementById('id-1').className ="active";
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
{% endblock %}
