{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Material</h2>
  <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Materials</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Materials</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

<div class="row">
<div class="col-sm-6 col-sm-offset-2">
<div class="form-group">
  <input id="material_type" type="hidden" name="area" class="form-control area">
    </div>
</div>
<div class="col-sm-3">
    <button type="submit" id="matsubmit" class="btn btn-success">Get Details</button>
    </div></div>
     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>  
 

<div class="col-md-12">
<div class="portlet-content">   

              <div class="table-responsive" id="mat_table">
              </div></div>
</div>

      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
document.getElementById('id-9').className ="active";
</script>
<script>

$(document).ready(function() {
    $('.area').select2({
        minimumInputLength: 3,
        placeholder: 'Search for material',
        ajax: {
            url: "/user/getmateriallist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.MATNR+">"+excercise.MATNR+" --- "+excercise.MAKTX+" </div>"; 
      // return "<div class='select2-user-result' value="+excercise.id+">"+excercise.panchayat+"</div>"; 
        },
        id: function(excercise){
          return excercise.MATNR;
        },
        formatAjaxError: function(){
          return 'Material Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material_type").val(excercise.MATNR);
            return excercise.MAKTX; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
});

 


      $( "button[data-select2-open]" ).click( function() {
        $( "#" + $( this ).data( "select2-open" ) ).select2( "open" );
      });

      
        var select2OpenEventName = "select2-open";

        $( ":checkbox" ).on( "click", function() {
          $( this ).parent().nextAll( "select" ).select2( "enable", this.checked );
        });
      

      $( ".select2, .select2-multiple, .select2-allow-clear, .select2-remote, .area" ).on( select2OpenEventName, function() {
        if ( $( this ).parents( "[class*='has-']" ).length ) {
          var classNames = $( this ).parents( "[class*='has-']" )[ 0 ].className.split( /\s+/ );

          for ( var i = 0; i < classNames.length; ++i ) {
              if ( classNames[ i ].match( "has-" ) ) {
                $( "#select2-drop" ).addClass( classNames[ i ] );
              }
          }
        }

      });

    </script>
<script type="text/javascript">
$( "#matsubmit" ).click(function() {
  var mat = $( "#material_type" ).val();

  $.ajax({
                     url:"/user/getmaterialdetails",
                     type:"POST",
                     data:{mat:mat},
                     success:function(data){
                      if(data.flag == 'X'){
                      var text = 'No Data Found for material code '+mat;
                      
                  }else if(data.flag == 'Y'){
                    var text = mat+' Does not Exist';
                  }else{
                    var text='<table id="example" class="table table-bordered table-hover"><thead><tr><th>Material</th><th>Plant</th><th>Unrestricted Unit<br>Total Value</th><th>Transit/transfer<br>Total value</th><th>In Quality Inspi<br>Total value</th><th>Restricted-Use<br>Total value</th><th>Blocked<br>Total value</th><th>Returns<br>Total value</th></tr></thead><tbody>';
                      for(i=0;i<data.materials.length;i++){
                      text += '<tr><td>'+data.materials[i].MATNR+'</td><td>'+data.materials[i].NAME1+'</td><td>'+data.materials[i].LABST+'<br>'+data.materials[i].WLABS+'</td><td>'+data.materials[i].UMLME+'<br>'+data.materials[i].WUMLM+'</td><td>'+data.materials[i].INSME+'<br>'+data.materials[i].WINSM+'</td><td>'+data.materials[i].EINME+'<br>'+data.materials[i].WEINM+'</td><td>'+data.materials[i].SPEME+'<br>'+data.materials[i].WSPEM+'</td><td>'+data.materials[i].RETME+'<br>'+data.materials[i].WRETM+'</td></tr>';  }                  
                    text +='</tbody></table>';
                  }
document.getElementById("mat_table").innerHTML = text;

                     }
                   })
});

</script>
{% endblock %}
