﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> Material Issue</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Material Issue</li>
        </ol>
      </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
        <div class="col-md-12">
          <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Material Issue</h4>
           </div><!-- panel-heading -->
<div class="panel-body">
  <form  action="" method="POST">
    <div class="row">
<div class="col-sm-4 col-sm-offset-3">
<div class="radio_inline">
<div class="col-sm-12">
            <div class="input-group">
               <span class="input-group-addon">
                  <input type="radio" name="material" id="rdbFuncation" value="1" checked> Funcation Location
               </span>    
                            
               <input id="functionlocation"  class="form-control sold_to_id" name="material_code"  type="hidden" onchange="chng()" value=""  >
             
            </div><!-- /input-group -->
            <div id="divfun">
           
              <tr><th>Material</th><td>
  
            <input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

          <input type="hidden" id="fieldnum" value="0"/>
            <button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>           
</div>    
<div  id="p_wrap" class="order-container ">    

    </div>
    
           
             
            <br/>
</div><!-- /.col-sm-12 -->
<br>
<div class="col-sm-12">
            <div class="input-group">
               <span class="input-group-addon">
                  <input type="radio" name="material" id="rdbequipment" value="2"> Equipment  
               </span>               
               <input id="equipment" class="form-control sold_to_id" type="hidden" onchange="chng()" value="">              
            </div><!-- /input-group -->
            <div id="divequp" >

           <tr><th>Material</th><td>
  
<input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

<input type="hidden" id="fieldnum" value="0"/>
<button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>

           
</div>    
<div  id="p_wrap" class="order-container ">    

    </div>
    
            <br/>
</div><!-- /.col-sm-12 -->
<br>
<div class="col-sm-12">
            <div class="input-group">
               <span class="input-group-addon">
                  <input type="radio" name="material" id="rdbcostcenter" value="3"> Cost Center
               </span>               
               <input id="costcenter" class="form-control sold_to_id" type="hidden" onchange="chng()" value="">
            </div><!-- /input-group -->
            <div id="divcost">
           
<tr><th>Material</th><td>
  
<input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

<input type="hidden" id="fieldnum" value="0"/>
<button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>

           
</div>    
<div  id="p_wrap" class="order-container ">    
 </div>
    
            <br/>
</div><!-- /.col-sm-12 --> 
<br>  
<div class="col-sm-12">
            <div class="input-group">
               <span class="input-group-addon">
                  <input type="radio" name="material" id="rdbwbselement" value="4"> WBS Element
               </span>               
               <input id="wbselement"  class="form-control sold_to_id" type="hidden" onchange="chng()" value="">
            </div><!-- /input-group -->
            <div id="divWBS">
           
<tr><th>Material</th><td>
  
<input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

<input type="hidden" id="fieldnum" value="0"/>
<button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>

           
</div>    
<div  id="p_wrap" class="order-container ">    
 </div>
    
            <br/>
</div><!-- /.col-sm-12 -->           
 <div class="col-sm-12">
            <div class="input-group">
               <span class="input-group-addon">
                  <input type="radio" name="material" id="rdbNetwork" value="5"> Network
               </span>               
               <input id="network" class="form-control sold_to_id" type="hidden" onchange="chng()" value="">
            </div><!-- /input-group -->
            <div id="divNetwork">
           
<tr><th>Material</th><td>
  
<input type="number" class="input-sm" name="no" class="" id="no" min="1" max="5" onkeydown="return false" >

<input type="hidden" id="fieldnum" value="0"/>
<button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>

           
</div>    
<div  id="p_wrap" class="order-container ">    
 </div>
   
            <br/>
</div><!-- /.col-sm-12 -->                    
    </div>              
            <!-- <div class="row">
                 <br/>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">               
                              <input  id="material_groupf" class="form-control sold_to_id" name="material_groupf" type="hidden" onchange="chng()" value="" placeholder=" Material ">
                              
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                         <div class="form-group">
                             <button type="button" class="btn btn-info input-sm" id="addInputs" onclick="inp()">Add</button>
                        </div>
                    </div>                   
              </div> -->
<div class="row">
                 <br/>
                    
                                    
              </div> 
<div class="table-responsive"> 
<script type="text/javascript">

function inp()
{
var n=parseInt($("#no").val());
var o=parseInt(document.getElementById("fieldnum").value);
var s=0;
if(o==0)
{
  for (i = 1; i <= n; i++) {
              $("#p_wrap").append("<div id="+i+" class='row'><div class='col-md-4 col-xs-4'> <input type='text' class='form-control sold_to_id' placeholder='material'/></div><div class='col-md-1 col-xs-1'><button type='button' class='btn btn-danger input-sm' id='delInputs' onclick='inpdel("+i+")'>Delete</button> </div></div>").trigger('create');    

      o=o+1;

    }
    document.getElementById("fieldnum").value=o;
}
else 
{
var g;
  for (s =(o+1); s <= (o+n); i++) 
  {
    s=parseInt(s);
        $("#p_wrap").append("<div id="+s+" class='row'><div class='col-md-4 col-xs-4'><input type='text' class='getThis form-control input-sm' placeholder='material'/></div><div class='col-md-1 col-xs-1'><button type='button' class='btn btn-danger input-sm' id='delInputs' onclick='inpdel("+s+")'>Delete</button> </div></div>").trigger('create');     
g=g+1;
  }
  document.getElementById("fieldnum").value=g;
}
}

function inpdel(i)
{
    $('#p_wrap').children("#"+i+"").remove();

}
function inpdel(s)
{
    $('#p_wrap').children("#"+s+"").remove();

}
</script>
<div class="table-responsive">
</div>  
 <div class="form-group">
 <br>
               <input type="submit" value="Submit" class="btn btn-primary btn-block">
              </div>  
       </div>
    </div>           
 </form>
</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->


<div class="row">        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Material Issue Report</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
        <div class="row">               
<div class="col-lg-12">
<div class="portlet-content">   
              <div class="table-responsive">
                <form method="POST" action="">
    <table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>            
                    <tr>
                        <th>Material </th>
                        <th>Description</th>
                        <th>Stock Loc.</th>
                        <th>Qty</th>
                        <th>Specification</th>
                        <th>Functional Loc</th>
                        <th>Equipment</th>
                        <th>Cost Center</th>
                        <th>WBS Element</th>
                        <th>Network</th>
                        <th></th>
                    </tr>
          </thead>
                <tbody>
                    <tr>
                        <td>  <input type="text" class="form-control"  disabled></td>
                      
                       <td>
                         <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                           <input type="text" class="form-control">
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                          <input type="text" class="form-control"  disabled>
                       </td>
                       <td>
                       <input type="submit" value="Post" class="btn btn-primary btn-block"> </td>
                       </td>
                    </tr>
                    <br/>
                    
                </tbody>    
    </table>
     
    </form>
 </div>
    </div><!-- portlet content -->
    </div><!-- lg-->
    </div> <!-- row-->
</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  
{% block scripts %}

<script type="text/javascript">
$(document).ready(function() {
   
   $('input[name="material"]').change(
    function(){

        if ($(this).is(':checked') {
            if($(this).val() == '1')
              {
                          $("#divfun").show();
                         $("#divequp").hide();
              }
        }
        else if($(this).is(':checked'){
          if($(this).val() == '2')
              {
                  $("#divfun").hide();
                  $("#divequp").show();
              }

        }
    });
   
    
} );
</script>
  <script type="text/javascript">
  document.getElementById('id-4').className ="nav-parent nav-active active";
      document.getElementById("c").style.display = "block";
document.getElementById('id-4.1').className ="active";
    </script>
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable( {
        "scrollX": true
    } );
   
} );
</script>

 <script type="text/javascript">
  document.getElementById('id-4').className ="nav-parent nav-active active";
      document.getElementById("c").style.display = "block";
document.getElementById('id-4.1').className ="active";
    </script>
<script type="text/javascript">
function chng()
{

document.getElementById("pricetable").innerHTML = "";
document.getElementById("submitoption").innerHTML ='<button  type="button" onclick="fetch()" class="btn btn-primary btn-block">GET PRICE</button>';
}
</script>
<script>

function display(exc)
{

document.getElementById("sold_to_add").innerHTML=exc.STRAS+','+exc.ORT01+','+exc.BEZEI+','+exc.LANDX+','+exc.PSTLZ+','+exc.TELF1;
document.getElementById("ship_to_id").value=exc.KUNN2;
document.getElementById("ship_to_add").innerHTML=exc.STRAS_WE+','+exc.ORT01_WE+','+exc.BEZEI_WE+','+exc.LANDX_WE+','+exc.PSTLZ_WE+','+exc.TELF1_WE;
document.getElementById("destination").value=exc.DESTINT;
document.getElementById("sales_rep").value=exc.KUNN3;
}


$(document).ready(function() {
    $('.sold_to_id').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/user/getcustomerlist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.KUNNR+">"+excercise.NAME1+"--"+excercise.KUNN2+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.KUNNR;
        },
        formatAjaxError: function(){
          return 'Customer Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#sold_to_id").val(excercise.KUNNR);
    display(excercise);
    chng();         
            return excercise.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

    $('.material_code').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdmaterialslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.MATNR+">"+excercise.MAKTX+" </div>"; 
   
        },
        id: function(excercise){
          return excercise.MATNR;
        },
        formatAjaxError: function(){
          return 'Material Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material_code").val(excercise.MATNR);
    chng();
            return excercise.MAKTX; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.plant').select2({
        minimumInputLength: 3,
        placeholder: '',
        ajax: {
            url: "/user/getsdplantslist",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.WERKS+">"+excercise.NAME1+" </div>"; 
  
        },
        id: function(excercise){
          return excercise.WERKS;
        },
        formatAjaxError: function(){
          return 'Plant Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#plant").val(excercise.WERKS);
    chng()
            return excercise.NAME1; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
});

 


      $( "button[data-select2-open]" ).click( function() {
        $( "#" + $( this ).data( "select2-open" ) ).select2( "open" );
      });

      
        var select2OpenEventName = "select2-open";

        $( ":checkbox" ).on( "click", function() {
          $( this ).parent().nextAll( "select" ).select2( "enable", this.checked );
        });
      

      $( ".select2, .select2-multiple, .select2-allow-clear, .select2-remote, .sold_to_id .material_code .plant" ).on( select2OpenEventName, function() {
        if ( $( this ).parents( "[class*='has-']" ).length ) {
          var classNames = $( this ).parents( "[class*='has-']" )[ 0 ].className.split( /\s+/ );

          for ( var i = 0; i < classNames.length; ++i ) {
              if ( classNames[ i ].match( "has-" ) ) {
                $( "#select2-drop" ).addClass( classNames[ i ] );
              }
          }
        }

      });

    </script>
    <script type="text/javascript">
function fetch()
{
  var f=new FormData(document.getElementById("purchase_assetform"));
  $.ajax({
        url: '/user/getprice',
        data:  f,
        type: 'POST',
        processData: false,  
        contentType: false,
        success: function(response) {
                  if (response.error == 'yes'){
                    var text='<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span>'+response.message+'</span></div>'
              document.getElementById("errormsg").innerHTML = text;
                  }
                  else{
                   var text='<table class="table table-bordered table-condensed table-hover"><thead><tr><th>COND TYP</th><th>PRICE</th></tr></thead><tbody>';
          text+='<tr><td>Invoice Price</td><td>'+response.EX_ZINV+'</td></tr><tr><td>Road Freight Amount</td><td>'+response.EX_ZFRT+'</td></tr><tr><td>Rail Freight Amount</td><td>'+response.EX_ZFR3+'</td></tr><tr><td>VAT</td><td>'+response.EX_JIVP+'</td></tr><tr><td>CST</td><td>'+response.EX_JIVC+'</td></tr><tr><td>Basic Exice Duty</td><td>'+response.EX_JEXT+'</td></tr><tr><td>Edu Cess</td><td>'+response.EX_JECT+'</td></tr><tr><td>S.Edu Cess</td><td>'+response.EX_JSET+'</td></tr></tr><tr><td>Net Realization</td><td>'+response.EX_ZBAS+'</td></tr><tr><td>Total Amount</td><td>'+response.EX_NETWR+'</td></tr></tbody></table>'
          document.getElementById("pricetable").innerHTML = text;
          var text1='<input type="hidden" value="'+response.EX_QUOT_NO+'" name="quot_no">';
          text1 +='<input type="hidden" value="'+response.EX_ZINV+'" name="zinv">';
          text1 +='<input type="hidden" value="'+response.EX_ZFRT+'" name="zfrt">';
          text1 +='<input type="hidden" value="'+response.EX_ZFR3+'" name="zfr3">';
          text1 +='<input type="hidden" value="'+response.EX_JIVP+'" name="jivp">';
          text1 +='<input type="hidden" value="'+response.EX_JIVC+'" name="jivc">';
          text1 +='<input type="hidden" value="'+response.EX_JEXT+'" name="jext">';
          text1 +='<input type="hidden" value="'+response.EX_JECT+'" name="ject">';
          text1 +='<input type="hidden" value="'+response.EX_JSET+'" name="jset">';
          text1 +='<input type="hidden" value="'+response.EX_ZBAS+'" name="zbas">';
          text1 +='<input type="hidden" value="'+response.EX_NETWR+'" name="netwr">';
          text1 +='<input type="submit" value="Submit" class="btn btn-primary btn-block">';
document.getElementById("submitoption").innerHTML = text1;
}}

  });
}
    </script>
{% endblock %}