{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table{table-layout:fixed;}
</style>

{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Time</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Time</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">


        <div class="form-group">                  
                    <div class=" col-md-7 col-md-offset-3">

  <div class="form-group">
 <div class=" col-md-4 col-xs-12" >               
<input type="radio" id="selct" name="selct" value="func"   onchange="selectfun(this.value)" checked="checked" /> Function Location
</div>
<div id="func" class="col-md-7 col-xs-12" >
<input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
</div>
</div>

   
<div class="form-group">
 <div class=" col-md-4 col-xs-12" > 
<input type="radio" id="selct" name="selct" value="equip" onchange="selectfun(this.value)"> Equipment
</div>
<div id="Equip" class="col-md-7 col-xs-12" >
<input class="form-control equipment" id="equipment" name="equipment" style="width:100%" type="hidden"  value="" placeholder="Equipment">
</div>
</div>

 <div class="form-group">
<div class=" col-md-4 col-xs-12" > 
<input type="radio" id="selct" name="selct" value="cost" onchange="selectfun(this.value)"> Cost Center
</div>
<div id="cost" class="col-md-7 col-xs-12" >
<input class="form-control cost_center" id="cost_center" name="cost center" style="width:100%" type="hidden"  value="" placeholder="Cost center">
</div>
</div>

<div class="form-group">
<div class=" col-md-4 col-xs-12" >               
<input type="radio" id="selct" name="selct" value="wbs"  onchange="selectfun(this.value)" > WBS Element
</div>
<div id="wbs" class="col-md-7 col-xs-12" >
<input class="form-control wbs_element" id="wbs_element" name="wbs_element"  type="hidden"  value="" placeholder="WBS Element" required>
</div>
</div>

   
<div class="form-group">
 <div class=" col-md-4 col-xs-12" > 
<input type="radio" id="selct" name="selct" value="network" onchange="selectfun(this.value)"> Network
</div>
<div id="network" class="col-md-7 col-xs-12" >
<input class="form-control network" id="network" name="network"  type="hidden"  value="" placeholder="Network" required>
</div>
</div>

</div>
</div>


<div id="miv" >
<form action="" method="POST" >
<table id="table" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
               <th>Description</th>
                <th>Material</th>
               
                <th>St.Loc</th>
                <th>Quantity</th>
                <th>My Quantity</th>
                <th>Specification</th>
    <th>Function Location</th>
    <th>Equipment</th>
    <th>Cost Center</th>
    <th>WBS Element</th>
    <th>Network</th>
    <!-- <th>Action</th> -->
            </tr>
        </thead>


        <tbody id="body">
      <tr>
       <td>
        <input id="Desc" type="text" class="form-control description" name="description">
      </td>
     <td>
     <input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>
     </td>
     
      <td>
     <input id="st_loc" type="text" class="form-control st_loc" name="st_loc"></td>
      <td>
        <input id="Quant" type="number"  class="form-control quantity" name="quantity" style="width:100px" onkeypress="return numberValid(event)" readonly="readonly">
      </td>
      <td>
        <input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">
      </td>
     <td>
        <input id="Specification" type="text"  class="form-control specify" name="specify">
      </td>
     <td>
      <input class="form-control func_id " id="func_id" name="func_id"  value="" placeholder="" readonly="readonly"></td>
      <td>
      <input class="form-control equip_id " id="equip_id" name="equip_id"  value="" placeholder="" readonly="readonly"></td>
      <td>
       <input class="form-control cost_id " id="cost_id" name="cost_id"  value="" placeholder="" readonly="readonly"></td>
      <td>
      <input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="" placeholder="" readonly="readonly"></td>
      <td>
      <input class="form-control network_id " id="network_id" name="network_id"  value="" placeholder="" readonly="readonly"></td>
    
      <!-- <td>
        <button id="btn"  type="button" class="btn btn-default ">Add</button><br>
      </td> -->
    </tr>
        </tbody>
    </table>

 <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

           </form> 
                
             </div> 






</div>

         <div class="row">
            
                 <div class="col-sm-12 col-md-4 col-md-offset-4">            
                       <div class="form-group">
                        
                           <input id="submit1" type="submit" value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>   
             </div>
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->       
      </div><!-- row -->
      
     
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>

<script type="text/javascript">
function selectfun(opt){
if(opt=="func"){
  $('#func').show();
  $('#Equip').hide();
  $('#cost').hide();
  $('#wbs').hide();
  $('#network').hide();
}
else if(opt=="equip"){
  $('#func').hide();
  $('#Equip').show();
  $('#cost').hide();
  $('#wbs').hide();
  $('#network').hide();
}
else if(opt=="cost"){
  $('#func').hide();
  $('#Equip').hide();
  $('#cost').show();
  $('#wbs').hide();
  $('#network').hide();
}
else if(opt=="wbs"){
  $('#func').hide();
  $('#Equip').hide();
  $('#cost').hide();
  $('#wbs').show();
  $('#network').hide();
}
else if(opt=="network"){
  $('#func').hide();
  $('#Equip').hide();
  $('#cost').hide();
  $('#wbs').hide();
  $('#network').show();
}
}
</script>

<script>
$(document).ready(function() {
  $('#func').show();
  $('#Equip').hide();
    $('#cost').hide();
$('#wbs').hide();
  $('#network').hide();
    $('.function_location').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/functionlocation",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.functional_loc;
        },
        formatAjaxError: function(){
          return 'function location Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#function_location").val(excercise.functional_loc);
  
            return excercise.functional_loc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


$('.equipment').select2({
        minimumInputLength:3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/equipment",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.equipment_number;
        },
        formatAjaxError: function(){
          return 'Equipment Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#equipment").val(excercise.equipment_number);

            return excercise.Desp_technical_object; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });






$('.cost_center').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/costcenter",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.cost_center;
        },
        formatAjaxError: function(){
          return 'Cost Center Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#cost_center").val(excercise.cost_center);
    
            return excercise.cost_center; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
$('.wbs_element').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/wbs_element",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.WBS_element+">"+excercise.short_desc+"--"+excercise.WBS_element+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.WBS_element;
        },
        formatAjaxError: function(){
          return 'wbs element Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#wbs_element").val(excercise.WBS_element);
   
            return excercise.short_desc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.network').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#network").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
  $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

});

</script>


<script type="text/javascript">

   $(document).ready(function(){

     if ( $.fn.dataTable.isDataTable( '#table' ) ) {
    table = $('#table').DataTable();
}
else {
    table = $('#table').DataTable( {
      "scrollX": "150%",
       "paging": false,
       "bFilter": false,
        "bSort": false,
       "columnDefs": [
              { "width": "10%", "targets": 0 },
             {
                "targets": [ 6 ],
                "visible": false,
                
            },
            {
                "targets": [ 7 ],
                "visible": false,
                
            },
            {
                "targets": [ 8 ],
                "visible": false
            },
            {
                "targets": [ 9 ],
                "visible": false,
                
            },
            {
                "targets": [ 10 ],
                "visible": false
            }
        ]

    } );
} 
} );
 </script>  



<script>
$(document).ready(function(){
  $('#miv').hide();
  
  $('#submit1').click(function(){

    value1 = $('#function_location').val();
    value2 = $('#equipment').val();
    value3 = $('#cost_center').val();
    value4 = $('#wbs_element').val();
    value5 = $('#network').val();

  alert(value1+value2+value3+value4+value5);

  if(value1!=0){

          $('input[name="selct"]').each(function(i) {

              $(this).attr('disabled', 'disabled');
            });

          $('#function_location,#equipment,#cost_center,#wbs_element,#network').select2('disable');

          $('#miv').show();
          $('#submit1').hide();

      column6 = table.column(6);
 
        // Toggle the visibility
        column6.visible( ! column6.visible() );
 document.getElementById("func_id").value=value1;

         $('#add').click( function () {

    row = $('#table >#body >tr').length;
    

         table.row.add( [
    '<input id="Desc" type="text" class="form-control description" name="description">',
    '<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>',
    '<input class="form-control " id="" name=""  value="" placeholder="" required>',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity" readonly="readonly" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify">',
    '<input class="form-control func_id " id="func_id" name="func_id"  value="'+value1+'" placeholder="function_location" readonly="readonly">',
    '<input class="form-control equip_id " id="equip_id" name="equip_id"  value="'+value2+'" placeholder="" readonly="readonly">',
    '<input class="form-control cost_id " id="cost_id" name="cost_id"  value="'+value3+'" placeholder="" readonly="readonly">',
    '<input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="'+value4+'" placeholder="" readonly="readonly">',
    '<input class="form-control network_id" id="network_id" name="network_id"  value="'+value5+'" placeholder="" readonly="readonly">'
               ] ).draw();


 $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


  });

         $("#delete").click(function(){
      if($('#table >#body >tr').length>1){
          table.row('tr:last').remove().draw( false );
          /*$('#table tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

}
else if(value2!=0){

  $('input[name="selct"]').each(function(i) {

              $(this).attr('disabled', 'disabled');
            });

          $('#function_location,#equipment,#cost_center,#wbs_element,#network').select2('disable');

          $('#miv').show();
           $('#submit1').hide();


      column7 = table.column(7);
 
        // Toggle the visibility
        column7.visible( ! column7.visible() );

        document.getElementById("equip_id").value=value2;

         $('#add').click( function () {

    row = $('#table >#body >tr').length;


         table.row.add( [
     '<input id="Desc" type="text" class="form-control description" name="description">',
    '<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>',
    '<input class="form-control " id="" name=""  value="" placeholder="" required>',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity" readonly="readonly" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify">',
    '<input class="form-control func_id " id="func_id" name="func_id"  value="'+value1+'" placeholder="function_location" readonly="readonly">',
    '<input class="form-control equip_id " id="equip_id" name="equip_id"  value="'+value2+'" placeholder="" readonly="readonly">',
    '<input class="form-control cost_id " id="cost_id" name="cost_id"  value="'+value3+'" placeholder="" readonly="readonly">',
    '<input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="'+value4+'" placeholder="" readonly="readonly">',
    '<input class="form-control network_id" id="network_id" name="network_id"  value="'+value5+'" placeholder="" readonly="readonly">'
               ] ).draw();


 $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


  });

            $("#delete").click(function(){
      if($('#table >#body >tr').length>1){
          table.row('tr:last').remove().draw( false );
          /*$('#table tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

}


else if(value3!=0){

  $('input[name="selct"]').each(function(i) {

              $(this).attr('disabled', 'disabled');
            });

          $('#function_location,#equipment,#cost_center,#wbs_element,#network').select2('disable');

          $('#miv').show();
           $('#submit1').hide();


      column8 = table.column(8);
 
        // Toggle the visibility
        column8.visible( ! column8.visible() );

document.getElementById("cost_id").value=value3;

         $('#add').click( function () {

    row = $('#table >#body >tr').length;


         table.row.add( [
    '<input id="Desc" type="text" class="form-control description" name="description">',
    '<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>',
    '<input class="form-control " id="" name=""  value="" placeholder="" required>',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity" readonly="readonly" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify">',
    '<input class="form-control func_id " id="func_id" name="func_id"  value="'+value1+'" placeholder="function_location" readonly="readonly">',
    '<input class="form-control equip_id " id="equip_id" name="equip_id"  value="'+value2+'" placeholder="" readonly="readonly">',
    '<input class="form-control cost_id " id="cost_id" name="cost_id"  value="'+value3+'" placeholder="" readonly="readonly">',
    '<input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="'+value4+'" placeholder="" readonly="readonly">',
    '<input class="form-control network_id" id="network_id" name="network_id"  value="'+value5+'" placeholder="" readonly="readonly">'
               ] ).draw();


 $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


  });

           $("#delete").click(function(){
      if($('#table >#body >tr').length>1){
          table.row('tr:last').remove().draw( false );
          /*$('#table tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

}

else if(value4!=0){

  $('input[name="selct"]').each(function(i) {

              $(this).attr('disabled', 'disabled');
            });

          $('#function_location,#equipment,#cost_center,#wbs_element,#network').select2('disable');

          $('#miv').show();
           $('#submit1').hide();

      column9 = table.column(9);
 
        // Toggle the visibility
        column9.visible( ! column9.visible() );

        document.getElementById("wbs_id").value=value4;

         $('#add').click( function () {

    row = $('#table >#body >tr').length;
   

         table.row.add( [
    '<input id="Desc" type="text" class="form-control description" name="description">',
    '<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>',
    '<input class="form-control " id="" name=""  value="" placeholder="" required>',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity" readonly="readonly" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify">',
    '<input class="form-control func_id " id="func_id" name="func_id"  value="'+value1+'" placeholder="function_location" readonly="readonly">',
    '<input class="form-control equip_id " id="equip_id" name="equip_id"  value="'+value2+'" placeholder="" readonly="readonly">',
    '<input class="form-control cost_id " id="cost_id" name="cost_id"  value="'+value3+'" placeholder="" readonly="readonly">',
    '<input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="'+value4+'" placeholder="" readonly="readonly">',
    '<input class="form-control network_id" id="network_id" name="network_id"  value="'+value5+'" placeholder="" readonly="readonly">'
               ] ).draw();


 $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


  });

           $("#delete").click(function(){
      if($('#table >#body >tr').length>1){
          table.row('tr:last').remove().draw( false );
          /*$('#table tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

}

else if(value5!=0){

  $('input[name="selct"]').each(function(i) {

              $(this).attr('disabled', 'disabled');
            });

          $('#function_location,#equipment,#cost_center,#wbs_element,#network').select2('disable');

          $('#miv').show();
           $('#submit1').hide();

      column10 = table.column(10);
 
        // Toggle the visibility
        column10.visible( ! column10.visible() );

        document.getElementById("network_id").value=value5;

         $('#add').click( function () {

    row = $('#table >#body >tr').length;
    
     


         table.row.add( [
   '<input id="Desc" type="text" class="form-control description" name="description">',
    '<input class="form-control material" id="material" name="material"  type="hidden" value="" placeholder="Material" style="width:200px" required>',
    '<input class="form-control " id="" name=""  value="" placeholder="" required>',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity" readonly="readonly" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="myQuant" type="number"  class="form-control myquantity" name="myquantity" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify">',
    '<input class="form-control func_id " id="func_id" name="func_id"  value="'+value1+'" placeholder="function_location" readonly="readonly">',
    '<input class="form-control equip_id " id="equip_id" name="equip_id"  value="'+value2+'" placeholder="" readonly="readonly">',
    '<input class="form-control cost_id " id="cost_id" name="cost_id"  value="'+value3+'" placeholder="" readonly="readonly">',
    '<input class="form-control wbs_id " id="wbs_id" name="wbs_id"  value="'+value4+'" placeholder="" readonly="readonly">',
    '<input class="form-control network_id" id="network_id" name="network_id"  value="'+value5+'" placeholder="" readonly="readonly">'
               ] ).draw();


 $('.material').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#material").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });


  });

           $("#delete").click(function(){
      if($('#table >#body >tr').length>1){
          table.row('tr:last').remove().draw( false );
          /*$('#table tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

}
else{

  alert('Select any one');
}


});

});
</script>

<script>


$(document).ready(function(){

  $('#submit').click( function() {
   
  
    alert('submit');


a=[]

value=document.querySelector('input[name="selct"]:checked').value;

if (value =="func")
{
a.push(value);
a.push( $('#function_location').val());
}
else if (value=="Equip")
{
a.push(value);
a.push( $('#equipment').val());
}
else if(value=="cost")
{
a.push(value);
a.push( $('#cost_center').val());
}
else if(value=="wbs")
{
a.push(value);
a.push( $('#wbs_element').val());
}
else{
  a.push(value);
a.push( $('#network').val());
}


document.getElementById("topval").value=a;
    alert(a);
  }); 
  
});
</script>


{% endblock %}
