{% extends "base.html" %}
{% block pageheader %}  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 

    <div class="pageheader">
      <h2><i class="fa fa-money"></i> Pay Slip</h2>
  <!--     <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Pay Slip</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

<script type="text/javascript">
  

/*$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("yr");




if(m>=6)
{
  d.getFullYear();

                opt = document.createElement("option");
                    opt.value =d.getFullYear();
                    opt.text=  d.getFullYear();
                    obj.appendChild(opt);
                    
                    
            
             
           
}

else if(m==0)
{
  d.getFullYear();

                opt = document.createElement("option");
                    opt.value =d.getFullYear()-1;
                    opt.text=  d.getFullYear()-1;
                    obj.appendChild(opt);
                    
}



else 
{


for (var i = d.getFullYear(); i >= d.getFullYear()-1; i--)    
{                
                    opt = document.createElement("option");
                  
                    opt.value = i;
                    opt.text=i;
                    
                    obj.appendChild(opt);
                      
                      
                }

}




});*/


</script>
<script type="text/javascript">
  

$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("yr2");




if(m>=6)
{
  d.getFullYear();

                opt = document.createElement("option");
                    opt.value =d.getFullYear();
                    opt.text=  d.getFullYear();
                    obj.appendChild(opt);
                    
                    
            
             
           
}
else if(m==0)
{
  d.getFullYear();

                opt = document.createElement("option");
                    opt.value =d.getFullYear()-1;
                    opt.text=  d.getFullYear()-1;
                    obj.appendChild(opt);
                    
}


else 
{


for (var i = d.getFullYear(); i >= d.getFullYear()-1; i--)    
{                
                    opt = document.createElement("option");
                  
                    opt.value = i;
                    opt.text=i;
                    
                    obj.appendChild(opt);
                      
                      
                }

}




});


</script>
<script type="text/javascript">
/*  

$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("yr1");




if(m>=6)
{


                opt = document.createElement("option");
                    opt.value =d.getFullYear();
                    opt.text=  d.getFullYear();
                    obj.appendChild(opt);
                    
                    
            
             
           
}
else if(m==0)
{
  d.getFullYear();

                opt = document.createElement("option");
                    opt.value =d.getFullYear()-1;
                    opt.text=  d.getFullYear()-1;
                    obj.appendChild(opt);
                    
}


else 
{

for (var i = d.getFullYear(); i >= d.getFullYear()-1; i--)     
{                
                    opt = document.createElement("option");
                  
                    opt.value = i;
                    opt.text=i;
                    
                    obj.appendChild(opt);
                      
                      
                }

}




});*/


</script>

<script type="text/javascript">
  

$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("month");




if(m>=6)
{


for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}


else if(m==0)
{

   for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = month1[i];
                    opt.text=month[month1[i]];
                    obj.appendChild(opt);
                    
                    
                } 
}


else 
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                 else
                 {
                  break;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }

}




});


</script>


<script type="text/javascript">
  
/*
$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("month1");




if(m>=6)
{
 
for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}
else if(m==0)
{

   for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = month1[i];
                    opt.text=month[month1[i]];
                    obj.appendChild(opt);
                    
                    
                } 
}
else 
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                  else{
break;
                  }
                    
                    obj.appendChild(opt);
                     
                      
                }

}




});*/


</script>



<script type="text/javascript">
/*  

$( document ).ready(function() {
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

    var obj=document.getElementById("month2");




if(m>=6)
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}
else if(m==0)
{

   for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = month1[i];
                    opt.text=month[month1[i]];
                    obj.appendChild(opt);
                    
                    
                } 
}
else 
{
  
for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                  else{
break;
                  }
                    
                    obj.appendChild(opt);
                   
                      
                }

}




});
*/

</script>

<script type="text/javascript">
  function filmon()
  {



  var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;

  var obj=document.getElementById("month");
  var d = new Date();

if(document.getElementById("yr2").value==d.getFullYear())
{
    


var m=d.getMonth();



$("#month").find("option").remove();



if(m>=6)
{


for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}

else 
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                 else
                 {
                  break;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }

}

}
else
{

$("#month").find("option").remove();

var m=d.getMonth();





for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i<0)
                    {
            opt.value = month1[i];
var o=month1[i];
    opt.text=month[o];

                  }
                 else
                 {
                  continue;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }

}



}


 


</script>

<script type="text/javascript">
 /* function filmon1()
  {



  var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;

  var obj=document.getElementById("month1");
  var d = new Date();

if(document.getElementById("yr").value==d.getFullYear())
{
    


var m=d.getMonth();



$("#month1").find("option").remove();



if(m>=6)
{


for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}

else 
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                 else
                 {
                  break;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }

}

}
else
{

$("#month1").find("option").remove();
var m=d.getMonth();





for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i<0)
                    {
            opt.value = month1[i];
var o=month1[i];
    opt.text=month[o];

                  }
                 else
                 {
                  continue;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }


}



}


 

*/
</script>

<script type="text/javascript">
  /*function filmon2()
  {



  var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;

  var obj=document.getElementById("month2");
  var d = new Date();

if(document.getElementById("yr1").value==d.getFullYear())
{
    


var m=d.getMonth();



$("#month2").find("option").remove();



if(m>=6)
{


for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    opt.value = i;
                    opt.text=month[i];
                    obj.appendChild(opt);
                    
                    
                }
             
           
}

else 
{

for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i>=0)
                    {
                    opt.value = i;
                    opt.text=month[i];

                  }
                 else
                 {
                  break;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }

}

}
else
{

$("#month2").find("option").remove();
var m=d.getMonth();





for (var i = (m-1); i >= (m-6); i--)     
{                
                    opt = document.createElement("option");
                    if(i<0)
                    {
            opt.value = month1[i];
var o=month1[i];
    opt.text=month[o];

                  }
                 else
                 {
                  continue;
                 }
                    
                    obj.appendChild(opt);
                      
                      
                }


}



}


 
*/

</script>



<script type="text/javascript">
    
function a()
{

  var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

yr=document.getElementById("yr2").value;
mon=document.getElementById("month").value;



if(document.getElementById("month").value==0)
{
    document.getElementById("last").style.display="block";

/*if(navigator.appName == "Microsoft Internet Explorer"){
    window.document.getElementById('contentarea').contentWindow.location.reload(true);
}else {
    window.document.getElementById('contentarea').src = window.document.getElementById('contentarea').src;
}*/

document.getElementById("contentarea").contentDocument.location.reload(true);
document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../forms/Payslips/"+yr+"/1/000{{ user_details.username }}.pdf");  
/*document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Payslips/"+yr+"/1/000{{ user_details.username }}.pdf','_blank')");

document.getElementById("down").innerHTML = "Download " +month[0]+"/"+(yr-1)+" Payslip" ;*/

}
else
{
document.getElementById("last").style.display="block";
/*if(navigator.appName == "Microsoft Internet Explorer"){
    window.document.getElementById('contentarea').contentWindow.location.reload(true);
}else {
    window.document.getElementById('contentarea').src = window.document.getElementById('contentarea').src;
}*/

document.getElementById("contentarea").contentDocument.location.reload(true);
document.getElementById("contentarea").setAttribute('src', "/static/ViewerJS/index.html#../forms/Payslips/"+yr+"/"+(parseInt(mon)+1)+"/000{{ user_details.username }}.pdf");

/*document.getElementById("down").setAttribute('onclick',"window.open('/static/forms/Payslips/"+yr+"/"+(parseInt(mon)+1)+"/000{{ user_details.username }}.pdf','_blank')");


document.getElementById("down").innerHTML = "Download " +month[mon]+"/"+yr+" Payslip";
*/
}
}

function down()
{


yr=document.getElementById("yr2").value;
mon=document.getElementById("month").value;

if(document.getElementById("month").value==0)
{

 window.open("/static/forms/Payslips/"+yr+"/1/000{{ user_details.username }}.pdf",'_blank');
}
else
{

 window.open("/static/forms/Payslips/"+yr+"/"+(parseInt(mon)+1)+"/000{{ user_details.username }}.pdf",'_blank');

}

}
</script>


<script type="text/javascript">
    
    function b()
    {

var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

     var month1 = new Array();
   
    month1[-1] = 11;
    month1[-2] = 10;
    month1[-3] = 9;
    month1[-4] = 8;
    month1[-5] = 7;
    month1[-6] = 6;


    var d = new Date();

    var m=d.getMonth();

if(m>=6)
{

    yr=d.getFullYear();
    yr1=d.getFullYear();
    month1=(m-6)+1
    month2=m
}


else if(m==0)
{
      yr=d.getFullYear()-1;
    yr1=d.getFullYear()-1;  
    month1=6
    month2=12
}

else
{
    yr=d.getFullYear()-1;
    yr1=d.getFullYear();
    month1=month1[m-6]+1
    month2=m
}




/*

mon=parseInt(document.getElementById("month1").value);
yr=document.getElementById("yr").value;
yr1=document.getElementById("yr1").value;
mon1=parseInt(document.getElementById("month2").value);

if(yr==yr1)
{
    if(mon<mon1)
    {

yr=document.getElementById("yr").value;
yr1=document.getElementById("yr1").value;
month1=document.getElementById("month1").value;
month2=document.getElementById("month2").value;

window.location="/payroll/zipfiles?yr="+yr+"&yr1="+yr1+"&month1="+month1+"&month2="+month2

    }
    else
    {
    
        bootbox.alert("Invalid Entry", function() {
           });
       
    }
}
else if(yr<yr1)
{
 if(mon>mon1)
    {

yr=document.getElementById("yr").value;
yr1=document.getElementById("yr1").value;
month1=document.getElementById("month1").value;
month2=document.getElementById("month2").value;*/

window.location="/payroll/zipfiles?yr="+yr+"&yr1="+yr1+"&month1="+month1+"&month2="+month2

console.log("/payroll/zipfiles?yr="+yr+"&yr1="+yr1+"&month1="+month1+"&month2="+month2);


/*var id=11;
alert(id);
  $.ajax({
      url:'/payroll/zipfiles',
      data:{id:id},
      type:"GET"

   });*/
/*

jQuery.ajax({

type: "GET", url: "/payroll/zipfiles", success: function(data){

alert("Test results: " + data);

},

error: function (XMLHttpRequest, textStatus, errorThrown) {

alert("Error with ajax Function: "+ textStatus+" "+errorThrown); },

dataType: "text"

 });*/


/*
for(var i=(mon+1); i<=12 ;i++)
{
var zip = new JSZip();
zip.file('/static/Payslips/'+yr+'/'+i+'/000{{ user_details.username }}.pdf', "content", {binary: false,base64: true});*/



/*var zip = new JSZip(zipFromAjaxWithUTF8);
zip.file('/static/Payslips/'+yr+'/'+i+'/000{{ user_details.username }}.pdf').asText() // "€15"
zip.file('/static/Payslips/'+yr+'/'+i+'/000{{ user_details.username }}.pdf').asArrayBuffer() // an ArrayBuffer containing €15 encoded as utf8
zip.file('/static/Payslips/'+yr+'/'+i+'/000{{ user_details.username }}.pdf').asUint8Array()*/


/*  var fileURL = '/static/Payslips/'+yr+'/'+i+'/000{{ user_details.username }}.pdf';
  var request = $.ajax({
    url: fileURL,
    type: "GET",
    contentType: "application.pdf",
    mimeType:'text/plain; charset=x-user-defined' // <-[1]
  });     

  request.done(function( data ) {
    var zip = new JSZip();
    zip.file('Payslips_'+yr+'_'+i+'_{{ user_details.username }}.pdf', data, { binary: true }); // <- [2]
     var content = zip.generate({type:"blob"});

  }); 








}


for( var i=1; i<=(mon1+1) ;i++)
{
*/
  /* fileURL = '/static/Payslips/'+yr1+'/'+i+'/000{{ user_details.username }}.pdf';*/
/*
   fileURL = '/static/Payslips/'+yr1+'/'+i+'/000{{ user_details.username }}.pdf';
 request = $.ajax({
    url: fileURL,
    type: "GET",
    contentType: "application.pdf",
    mimeType:'text/plain; charset=x-user-defined' // <-[1]
  });     
//var uint8 = new Uint8Array(4);



 request.done(function( data ) {
    zip = new JSZip();
    zip.file('Payslips_'+yr1+'_'+i+'_{{ user_details.username }}.pdf', data, { binary: true }); // <- [2]
 content = zip.generate({type:"blob"});
// see FileSaver.js
saveAs(content, "Payslips.zip");
  }); 

}*/


 /*}
    else
    {
        bootbox.alert("Invalid Entry", function() {
           });
        return false
    }
}

else
{
 bootbox.alert("Invalid Entry", function() {
           });
}*/
}
</script>


<style type="text/css">
.input-sm1
{
  width:100px;
}
</style>
      
      <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Pay Slip </h4>
           </div><!-- panel-heading -->

        <div class="panel-body">
   <div class="row">           
<div class="col-xs-12 col-md-4 col-md-offset-4">
 

<div class="row">

<h6><b> Select month within Six months </b></h6>

        <div class="col-xs-6 .col-sm-6 ">
     
   
    
    <h6><b>Year</b></h6>  
<select class="form-control input-sm1 input-sm " id="yr2" onchange="filmon()">

</select>   
</div>  

        <div class="col-xs-6 .col-sm-6">

         <h6><b>Month</b></h6>    
<select class="form-control input-sm input-sm1 " id="month" >


</select>  

          </div> 

</div>

<div class="row">
<br>
  <div class="col-xs-6 .col-sm-6"> 
<button type="button" id ="down" class="btn btn-primary btn-xs glyphicon glyphicon-download-alt" onclick="down()" > Download</button>
   </div>
   <div class="col-xs-6 .col-sm-6">
 <button type="button"  class="btn btn-primary btn-xs glyphicon glyphicon-eye-open" onclick="a()"> Preview</button>   
 </div>
</div>

<div class="row">
<br>
   <div class="col-xs-10 .col-sm-10 ">
 <button type="button"  class="btn btn-primary btn-block " onclick="b()" > Download Last Six month Payslips</button>   
 </div>
</div>


</div>


<!-- <div class="col-xs-12 col-md-8">

<div class="row">
<h6><b> Select duration within Six months </b></h6>



<div class="col-xs-6 .col-sm-6 col-md-2 ">
 
   <h6><b>From Year</b></h6>  
<select class="form-control input-sm1 input-sm " id="yr" onchange="filmon1()" >

</select>    

</div>

<div class="col-xs-6 .col-sm-6 col-md-3  ">
 <h6><b>From Month</b></h6> 
<select class="form-control input-sm1 input-sm " id="month1">

</select>
   
</div>

<div class="col-xs-6 .col-sm-6 col-md-2">

 <h6><b>To Year</b></h6> 

<select class="form-control input-sm1 input-sm " id="yr1" onchange="filmon2()">

</select>  


</div>

<div class="col-xs-6 .col-sm-6 col-md-3">
 <h6><b>To Month</b></h6> 
<select class="form-control input-sm1 input-sm " id="month2" >


</select>


</div>

</div>




<div class="row">
<br>
   <div class="col-xs-6 .col-sm-6  col-md-offset-7">
 <button type="button"  class="btn btn-primary btn-xs glyphicon glyphicon-download-alt" onclick="b()" > Download</button>   
 </div>
</div>


<Br><Br><Br>


</div> -->




</div>





<br>
<div class="row" id="last" style="display:none;">

<iframe  id="contentarea" src = "" width='100%' height='600' allowfullscreen webkitallowfullscreen></iframe>



</div>
    </div>






        </div><!-- panel-body -->
      </div><!-- panel -->
      

      

{% endblock %}    
{% block scripts %}
<script src="js/charts.js"></script>
  <script type="text/javascript">
  document.getElementById('id-15').className ="nav-parent nav-active active";
      document.getElementById("e").style.display = "block";
document.getElementById('id-15.1').className ="active";
    </script>
{% endblock %} 
