{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>create Permission</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Permission</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-6 col-md-offset-2">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Create Permission</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-1">
                {% for field in form %}

    <div class="form-group">
    {{field.label(class="control-label")}}
    {{field(class="form-control")}}</div>
    {% endfor %}</div>
    </div><div class="row">
    <div class="col-sm-8 col-sm-offset-1"></br>
    <input type=submit value="create permission" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
{% endblock %}
