{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Plants</h2>
    <!--   <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Assign Role</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-6 col-md-offset-2">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Plants</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-sm-8 col-sm-offset-1">

    {{form.plants.label(class="control-label")}}
    {{form.plants(class="form-control")}}</div>

    </div><div class="row">
    <div class="col-sm-4 col-sm-offset-1"></br>
    <input type=submit value="Submit" class="btn btn-primary btn-block"></div>
    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">
function getCheckboxByValue(v) {
        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
                if(inputs[i].type == "checkbox" && inputs[i].value == v) {
                        return inputs[i];
                }
        }
        return false;
}
$('#plants').change(function() {
  var deg = $( "#plants" ).val();
    $.ajax({
                     url:"/user/getplants",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                      for(var i=0;i<data.plant_id.length;i++){
                      getCheckboxByValue(data.plant_id[i]).checked = true;
                      }
                     }
                   })
});
</script>
<script type="text/javascript">
document.getElementById('id-1.1').className ="active";
</script>
{% endblock %}