{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table1{table-layout:fixed;}
</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>PR Approval</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Time</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

<div class="row">
        
        
<div class="col-md-12 ">
 <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PR Approval</h4>
           </div><!-- panel-heading -->
  <div class="panel-body">




<div class="row">
<table id="table" class="display table table-bordered table-striped" cellspacing="0" cellpadding="0" border="0" >
 <thead>
            <tr>
               
                <th>Assignment Category</th>
                <th>Function Location</th>
                <th>Equipment</th>
                <th>Cost Center</th>
    <th>WBS Element</th>
    <th>Network</th>
    <th>Asset Number</th>
    <th>PR RAISED ON</th>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Applied On</th>
    <th>Components/Services</th>
    <th>Action</th>
            </tr>
        </thead>


        <tbody id='body'>
          {% for e in pr%}
      <tr>
      
      <td>
            <b>{{e['Assignment_category']}}</b>
      </td>
      <td>
        {% if e['functionlocation'] %}
        {{e['functionlocation']}}
         {% endif %}
      </td>
      <td>
        {% if e['equipment'] %}
        {{e['functionlocation']}}
         {% endif %}
      </td>
      <td>
  {% if e['costcenter'] %}
        {{e['costcenter']}}
         {% endif %}
      </td>
      <td>
        {% if e['wbs_element'] %}
        {{e['wbs_element']}}
          {% endif %}     
      </td>
      <td>
        {% if e['network'] %}
        {{e['networkt']}}
          {% endif %}
      </td>
      <td>
       {% if e['assetcode'] %}
        {{e['assetcode']}}
          {% endif %}
      </td>
      <td>
           {% if e['PR_dept'] %}
        {{e['PR_dept']}}
          {% endif %}
      </td>
      <td>
         {% if e['employee_id'] %}
        {{e['employee_id']}}
          {% endif %}
      </td>
       <td>
  {% if e['employee_name'] %}
        {{e['employee_name']}}
          {% endif %}
      </td>
       <td>
   {% if e['pr_appliedon'] %}
        {{e['pr_appliedon'].strftime('%d-%m-%Y')}}
          {% endif %}
      </td>
      


      <td>
 {% if e['component'] %}

<table  class=" table table-bordered table-striped" >
 <thead>
            <tr>
               
                
                <th>Material Type</th>
                <th>Material</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Value</th>
    <th>Delivery Date</th>
{% if e['component'][0]['JUSTI'] %}
    <th>Justification</th>
    <th>PO Header Text</th>
    <th>Specification</th>
    <th>Procured at(plant or HO)</th>
{% endif %}
    <th>Attachments</th>

            </tr>
        </thead>


        <tbody id='body1'>
{% for c in e['component'] %}
      <tr>
      <td>
  {% if c['MAKTX'] %}
        {{c['MAKTX']}}
          {% endif %}
      </td>
      
      <td>
           {% if c['MATNR'] %}
        {{c['MATNR']}}
          {% endif %} 
      </td>
      
      <td>
   {% if c['MENGE'] %}
        {{c['MENGE']}}
          {% endif %} 

      </td>
      <td>
       {% if c['MEINS'] %}
        {{c['MEINS']}}
          {% endif %}
      </td>
      <td>
         {% if c['VERPR'] %}
        {{c['VERPR']}}
          {% endif %}
      </td>
      <td>
       {% if c['EEIND'] %}
        {{c['EEIND']}}
          {% endif %}
      </td>
      <td>
         {% if c['JUSTI'] %}
        {{c['JUSTI']}}
          {% endif %}
      </td>
      <td>
         {% if c['POHEAD'] %}
        {{c['POHEAD']}}
          {% endif %}
      </td>
      <td>
       {% if c['SPEC'] %}
        {{c['SPEC']}}
          {% endif %}
      </td>
      <td>
     {% if c['PROD'] %}
        {{c['PROD']}}
          {% endif %}
      </td>
      <td>
      {% if c['file']%}           
 <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>

 {% endif %}
      </td>
     
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

 {% endif %}







 {% if e['services'] is defined %}

<table id="table2" class=" table table-bordered table-striped" >
 <thead>
            <tr>
               
           
                <th>Service Description</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Value</th>
    <th>Gross Price</th>
    <th>Delivery Date</th>

    <th>Attachments</th>

            </tr>
        </thead>


    
        <tbody id="body2">
    
{% for s in e['component'] %}

      <tr>
      
      
      <td>
      {% if s['SER_TXT'] %}
        {{s['SER_TXT']}}
          {% endif %}
      </td>
      <td>
 {% if s['MENGE'] %}
        {{s['MENGE']}}
          {% endif %}
      </td>
      <td>
       {% if s['uom'] %}
        {{s['uom']}}
          {% endif %}
      </td>
      <td>
        {% if s['unit_value'] %}
        {{s['unit_value']}}
          {% endif %}
      </td>
      <td>
          {% if s['unit_value'] %}
        {{s['unit_value']}}
          {% endif %}
      </td>
      <td>
         {% if s['date'] %}
        {{s['date']}}
          {% endif %}
      </td>

      <td>
         {% if s['file']%}           
 <a href="/pmpr/static/pdf/gridfs/{{c['file']}}" target="_blank"><img src="/static/images/pdficon.png" width="20" height="20" /></a>

 {% endif %}
      </td>
  
    </tr>
    {%endfor%}
        </tbody>
    </table>


{%endif%}

      </td>






      <td>
  
                 {% if e['approval_levels']['a_status'] == 'current' %}
                  <form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="prid" />
<div class="col-md-6  col-xs-3">
 <button type="submit" name="submit" class="btn btn-success  btn-xs tooltips" data-toggle="tooltip" data-placement="top"data-original-title="Approve" id="agree" value="Approve"  ><font size="1">✔</font></button>
</div>
<div class="col-md-6 col-xs-3">
<button type="submit" name="submit" class="btn btn-danger  btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Reject" id="disagree" value="Reject"   ><font size="1">✖</font></button>
</div>
</form>
  {% elif e['approval_levels']['a_status'] == 'waiting'%}
                  waiting for previous level of approvals
                  {% endif %}

      </td>
      </tr>

{%endfor%}
 </tbody></table>












      </div>                      
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
      

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">


 $('#table').DataTable( {
      "scrollX": true,
      "retrieve": true,
       "columnDefs": [
    { "width": "10%", "targets": 12},
    { "width": "10%", "targets": 10}
  ]
    } );     

</script>

{% endblock %}
