﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table5,#table7{table-layout:fixed;}
</style>
{% endblock %}
  {% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> Project & Network</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Project & Network</li>
        </ol>
      </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
        <div class="col-md-12">
          <div class="panel panel-default">


        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Project & Network</h4>
           </div><!-- panel-heading -->



<div class="panel-body">

<div class="row"> 


 <div class="row">  
<div class="col-md-6">
<div class="form-inline">
  <label>Department </label> 
        <select class="form-control" id="dept" name="dept" required>
          {% if dept %}
          {% for dep in dept%}
                                <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                {% endfor %}
                                    {% endif %}
        </select>                       
</div>

  </div>
                      
 <div class=" col-md-6">
<div class="form-group">
  <div class=" col-md-5 col-xs-12">
    <div class="form-group">
        <input type="radio" id="selct" name="selct" value="wbs"  checked="checked" onchange="leavetypefun(this.value)" > Wbselement
    </div>
</div>
 <div  id="wbs" class=" col-md-7 col-xs-12" >  
      <div class="form-group">  
           <input class="form-control wbs_element" id="wbs_element" name="wbs_element"  type="hidden"  value="" placeholder="WBS Element" required>
                            
            </div>
            </div>
            </div>

    <div class="form-group">
     <div class=" col-md-5 col-xs-12">
      <div class="form-group">
      <input type="radio" id="selct" name="selct" value="network" onchange="leavetypefun(this.value)">Network
    </div>
  </div>
<div id="network" class=" col-md-7 col-xs-12">  
      <div class="form-group">  

                  <input class="form-control network" id="network" name="network"  type="hidden"  value="" placeholder="Network" required>
                          
            </div>
       </div>
</div>     
</div>




<div class="form-group">  

<div class="col-md-4">
<input type="radio" id="tabl" name="tabl" value="ZRGS"  checked="checked" onchange="tablechange(this.value)" >Component
</div>
<div class="col-md-4">
<input type="radio" id="tabl" name="tabl" value="ZRSV" onchange="tablechange(this.value)">Services
</div>
</div>



<form id="tradeform" action="" method="POST" enctype="multipart/form-data">
<div id="component" class="form-group">  

<table id="table5" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
                <th>Mat.Type</th>
                <th>Material</th>
               
                <th>Quantity</th>
                <th>UoM</th>
    		<th>St.loc</th>
    		<th>Unit Value</th>
    		<th>Delivery Date</th>
    		<th>Attachments</th>
            </tr>
        </thead>


        <tbody id="body5">
      <tr>
      
      <td>
           <select  id="Desription" class="form-control description" name="description5">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      </td>
      <td>
	<input class="form-control material" id="material" name="material5" style="width:200px" type="hidden" value="" placeholder="material" required>
       
      </td>
      <td>
        <input id="Quantity" type="number"  class="form-control quantity" name="quantity5" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UoM" type="text"  class="form-control uom" name="uom5" size="10"  readonly="readonly">
      </td>
      <td>
            <input id="location" type="text" class="form-control location" name="location5" >       
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value5" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="Date5" type=""  class="form-control date" name="date5" size="11">
      </td>
      <td>
        <input  class="file" type="file" name="file5[]" style="width:90px">
      </td>
        </tbody>
    </table>
      <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add5" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete5" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 
    </div>


<div id="service" class="form-group">  

<table id="table6" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
              
           
                <th>Service Description</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Value</th>
  <!--   <th>Gross Price</th> -->
    <th>Delivery Date</th>
  <!--   <th>Justification</th>
    <th>PO Header Text</th>
    <th>Specification</th>
    <th>Procured at(plant or HO)</th> -->
    <th>Attachments</th>
   <!--  <th>Add/Delete</th> -->
            </tr>
        </thead>


        <tbody id="body6">
      <tr>
     
      <td>
        <input id="Desc" type="text" class="form-control description" name="description6">
      </td>
      <td>
        <input id="Quant" type="number"  class="form-control quantity" name="quantity6" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UM" type="text"  class="form-control uom" name="uom6" size="10" readonly="readonly">
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value6" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <!-- <td>
        <input id="price" type="number"  class="form-control price" name="grprice" style="width:100px" onkeypress="return numberValid(event)">
      </td> -->
      <td>
        <input id="Date6" type="text"  class="form-control date" name="date6" size="11">
      </td>
    <!--   <td>
        <input id="Justification" type="text"  class="form-control just" name="just6">
      </td>
      <td>
        <input id="POHeader " type="text"  class="form-control poheader" name="poheader6">
      </td>
      <td>
        <input id="Specification" type="text"  class="form-control specify" name="specify6">
      </td>
      <td>
        <select size="1" id="Procured"class="form-control procured" name="procured6">
                        <option value="Plant" selected="selected">Plant</option>
        <option value="HO">HO</option>
                          
                          </select>
      </td> -->
      <td>
        <input  class="file" type="file" name="file6[]" style="width:90px">
      </td>
     <!--  <td>
        <button id="btn6"  type="button" class="btn btn-default">Add</button><br>
      </td> -->
    </tr>
        </tbody>
    </table>
  <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add6" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete6" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 
</div>

             
            
       </form>  

</div>



</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  

{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>



<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>-->

<script type="text/javascript">
function leavetypefun(ltype){
if(ltype=="wbs"){
  $('#wbs').show();
  $('#network').hide();
}
else if(ltype=="network")
{
  $('#wbs').hide();
  $('#network').show();
}
}

function tablechange(chang){
if(chang=="ZRGS"){
  $('#component').show();
  $('#service').hide();
}
else
{
  $('#component').hide();
  $('#service').show();
}
}
</script>



<script>
$(document).ready(function() {
$('#network').hide();
$('.wbs_element').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/wbs_element",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.WBS_element+">"+excercise.short_desc+"--"+excercise.WBS_element+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.WBS_element;
        },
        formatAjaxError: function(){
          return 'wbs element Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#wbs_element").val(excercise.WBS_element);
   
            return excercise.short_desc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.network').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/network",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.object_number+">"+excercise.object_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.object_number;
        },
        formatAjaxError: function(){
          return 'Network Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#network").val(excercise.object_number);

            return excercise.object_number; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });
	 $('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
$('#UoM').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});


  });
</script>


<!-- validation of number only entry -->
<script type="text/javascript">
  function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)){
        return false;
    }else{
      return true;
    }
}
 $('.age').bind("cut copy paste",function(e) {
          e.preventDefault();
      });

</script>

<script type="text/javascript">

   $(document).ready(function(){   
     

            $('#Date5,#Date6').datepicker({format:"dd.mm.yyyy"});
      /*$(':file').filestyle({badge:true,input:false});*/
      $('#table5,#table6 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
 if(val!=""){
        if(!(pdfFormat.test(val))) {
          /*$(':file').filestyle('clear');  */      
          alert('Unsupported file pdf format only');
          $(this).val('');
        }
      }
        }); 
     if ( $.fn.dataTable.isDataTable( '#table5' ) ) {
    table5 = $('#table5').DataTable();
}
else {
    table5 = $('#table5').DataTable( {
      "scrollX": "100%",
       "paging": false,
        "bSort": false,
"columnDefs": [
    { "width": "10%", "targets": 1 }
  ],
      "bFilter": false 
    } );
}      
   if ( $.fn.dataTable.isDataTable( '#table6' ) ) {
    table6 = $('#table6').DataTable();
}
else {
    table6 = $('#table6').DataTable( {
      "scrollX": "120%",
       "paging": false,
        "bSort": false,
"columnDefs": [
    { "width": "10%", "targets": 1 }
  ],
     "bFilter": false 
    } );
}      
  



      $('#add5').click( function () {

      row = $('#table5 >#body5 >tr').length;
     


              table5.row.add( [
  '<select  id="Desription'+row+'" class="form-control description" name="description5">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
 ' <input class="form-control material'+row+'" id="material'+row+'" name="material5" style="width:200px" type="hidden" value="" placeholder="material" required>',
    '<input id="Quantity" type="number"  class="form-control quantity" name="quantity5" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom5" size="10" readonly="readonly">',
    '<input id="location" type="text" class="form-control location" name="location5" >',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value5" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date5" size="11">',
    '<input  class="file" type="file" name="file5[]" style="width:90px">'
   ] ).draw();
           
      
	$('.material'+row+'').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription'+row+'').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$('#material'+row+'').val(excercise.material);
$('#UoM'+row+'').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

      $('.date').datepicker({format:"dd.mm.yyyy"});
    /*  $(':file').filestyle({badge:true,input:false});*/
      $('#table5 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
       
        if(!(pdfFormat.test(val))) {
          /*$(':file').filestyle('clear'); */       
          alert('Unsupported file pdf format only');
          $(this).val('');
        
      }
        }); 
     
        } );
    $("#delete5").click(function(){
      if($('#table5 >#body5 >tr').length>1){
          table5.row('tr:last').remove().draw( false );
          /*$('#table5 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 


 $('#add6').on( 'click', function () {
     row = $('#table6 >#body6 >tr').length;
     
              table6.row.add( [
    
    '<input id="Desc" type="text" class="form-control description" name="description6">',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity6" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UM" type="text"  class="form-control uom" name="uom6" size="10" readonly="readonly">',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value6" style="width:100px" onkeypress="return numberValid(event)">',
    /*'<input id="price" type="number"  class="form-control price" name="grprice" style="width:100px" onkeypress="return numberValid(event)">',*/
    '<input id="DeliveryDate" type=""  class="form-control date" name="date6" size="11">',
  /*  '<input id="Justification" type="text"  class="form-control just" name="just6">',
    '<input id="POHeader " type="text"  class="form-control poheader" name="poheader6">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify6">',
    '<select size="1" id="Procured"class="form-control procured" name="procured6"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',*/
    '<input  class="file" type="file" name="file6[]" style="width:90px" >'
   /* '<button id="delete"  type="button" class="btn btn-default delete6">Delete</button><br>'*/
    
            ] ).draw();


      $('.date').datepicker({format:"dd.mm.yyyy"});
     /* $(':file').filestyle({badge:true,input:false});*/
      $('#table6 input[type=file]').change(function () {
          var val = $(this).val().toLowerCase();
          var pdfFormat = new RegExp("(.*?)\.(pdf)$");
 
          if(!(pdfFormat.test(val))) {
            /*$(':file').filestyle('clear');*/        
            alert('Unsupported file pdf format only');
            $(this).val('');
            }
      });
 
      

        });

   $("#delete6").click(function(){
      if($('#table6 >#body6 >tr').length>1){
          table6.row('tr:last').remove().draw( false );
          /*$('#table6 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

$('#service').hide();
        
    });
</script>

<script>
$(document).ready(function(){

  $('#submit').click( function() {
   
  
    alert('submit');


a=[]
dept= document.getElementById('dept').value;
selct=document.querySelector('input[name="selct"]:checked').value;
wbs=document.getElementById('wbs_element').value;
network=document.getElementById('network').value;
tabl=document.querySelector('input[name="tabl"]:checked').value;


a.push(dept);//0
a.push(tabl);//1
a.push(selct);//2
a.push(wbs);//3
a.push(network);//4


alert(a);
document.getElementById("topval").value=a;
    
  }); 
  
});
</script>




{% endblock %}

