﻿{% extends "base.html" %}
{% block links %}

<link rel="stylesheet" href="/static/css/select2.css" rel="stylesheet">
<link href="/static/css/select2-bootstrap.css" rel="stylesheet">
<style>
#table1,#table2{table-layout:fixed;}
</style>
{% endblock %}
  {% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i> PM Order</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">PM Order</li>
        </ol>
      </div>
    </div>
  {% endblock %} 
{% block contentpanel %}    
    
 <div class="row">        
        <div class="col-md-12">
          <div class="panel panel-default">


        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">PM Order</h4>
           </div><!-- panel-heading -->



<div class="panel-body">

  
<div class="form-group">               




<div class="form-group">  
<div class="col-md-6">

 


<div class="form-inline">
  <label>Department </label> 
        <select class="form-control" id="dept" name="dept" required>
          {% if dept %}
          {% for dep in dept%}
                                <option value="{{ dep.dept_pid}}">{{ dep.dept}}</option>
                                {% endfor %}
                                    {% endif %}
        </select>
                         
</div>



  </div> 
                 
                    <div class=" col-md-6">
                      
<div class=" col-md-5 col-xs-12">
<div class="form-group">
<input type="radio" id="selct" name="selct" value="func"  checked="checked" onchange="leavetypefun(this.value)" >Function
</div>
<div class="form-group">
<input type="radio" id="selct" name="selct" value="equip" onchange="leavetypefun(this.value)">Equipment
</div>
</div>



 <div  id="func" class=" col-md-7 col-xs-12" >  
 <div class="form-group">              
                             <input class="form-control function_location" id="function_location" name="function_location"  type="hidden" value="" placeholder="Function Location" required>
                             </div>
                             <div class="form-group">
<input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" >
</div>
                           </div>
            
  
                <div  class=" col-md-7 col-xs-12 " id="Equip">    
                <div class="form-group">            
                              <input class="form-control equipment" id="equipment" name="equipment" style="width:100%" type="hidden"  value="" placeholder="Equipment">
                                          </div>
                                          <div class="form-group">    
                             <input class="form-control cost_center1" id="cost_center1" name="cost_center"  type="hidden" value="" placeholder="Cost Center" >
              </div>
                         
                         </div><br/>
      
</div>

                       
            			    
          </div>
</br>
 <div class="row">
<div class="col-md-4">
<input type="radio" id="tabl" name="tabl" value="ZRGS"  checked="checked" onchange="tablechange(this.value)" >Component
</div>
<div class="col-md-4">
<input type="radio" id="tabl" name="tabl" value="ZRSV" onchange="tablechange(this.value)">Services
</div>
</div>
</br>



<form id="tradeform" action="" method="POST" enctype="multipart/form-data">
<div id="component" class="form-group" >
<table id="table1" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
               
                
                <th>Mat.Type</th>
                <th>Material</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Price</th>
    <th>Delivery Date</th>
    <th>Justification</th>
    <th>PO Header Text</th>
    <th>Specification</th>
    <th >Procured at</th>
    <th>Attachments</th>
  
            </tr>
        </thead>


        <tbody id='body1'>
      <tr>
      <td>
      <select  id="Desription" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>
      </td>
      
      <td>
            <input class="form-control material" id="" name="material1" style="width:200px" type="hidden"  placeholder="material" required>
      </td>
      
      <td>
        <input id="Quantity" type="number"  class="form-control quantity" name="quantity1" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UoM" type="text"  class="form-control uom" name="uom1" size="10" readonly="readonly">
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="Date1" type=""  class="form-control date" name="date1" size="11">
      </td>
      <td>
        <input id="Justification" type="text"  class="form-control just" name="just1">
      </td>
      <td>
        <input id="POHeader " type="text"  class="form-control poheader " name="poheader1">
      </td>
      <td>
        <input id="Specification" type="text"  class="form-control specify" name="specify1">
      </td>
      <td>
        <select size="1" id="Procured" class="form-control procured" name="procured1">
                        <option value="Plant" selected="selected">Plant</option>
        <option value="HO">HO</option>
                         
                          </select>
      </td>
      <td>
        <input  class="file" type="file" name="file1[]" style="width:90px">
      </td>
    </tr>
        </tbody>
    </table>

         <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add1" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete1" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 

</div>

<div id="service" class="form-group" >
<table id="table2" class="display table table-bordered table-striped" cellspacing="0">
 <thead>
            <tr>
               
           
                <th>Service Description</th>
                <th>Quantity</th>
                <th>UoM</th>
    <th>Unit Price</th>
  
    <th>Delivery Date</th>
   <!--  <th>Justification</th>
    <th>PO Header Text</th>
    <th>Specification</th>
    <th>Procured at(plant or HO)</th> -->
    <th>Attachments</th>
  
            </tr>
        </thead>


        <tbody id="body2">
      <tr>
      
      
      <td>
        <input id="Desc" type="text" class="form-control description" name="description2">
      </td>
      <td>
        <input id="Quant" type="number"  class="form-control quantity" name="quantity2" style="width:100px" onkeypress="return numberValid(event)">
      </td>
      <td>
        <input id="UM" type="text"  class="form-control uom" name="uom2" size="10" readonly="readonly">
      </td>
      <td>
        <input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value2" style="width:100px" onkeypress="return numberValid(event)">
      </td>

      <td>
        <input id="Date2" type="text"  class="form-control date" name="date2" size="11">
      </td>
      <!-- <td>
        <input id="Justification" type="text"  class="form-control just" name="just2">
      </td>
      <td>
        <input id="POHeader " type="text"  class="form-control poheader" name="poheader2">
      </td>
      <td>
        <input id="Specification" type="text"  class="form-control specify" name="specify2">
      </td>
      <td>
        <select size="1" id="Procured"class="form-control procured" name="procured2">
                        <option value="Plant" selected="selected">Plant</option>
        <option value="HO">HO</option>
                          
                          </select>
      </td> -->
      <td>
        <input  class="file" type="file" name="file2[]" style="width:90px">
      </td>
    </tr>
        </tbody>
    </table>
           <div class="form-group">
            
            
                 <div class="  col-xs-4 col-md-2">            
                       <div class="form-group">
                           <input id="add2" type="button"   value="Add line item" class="btn btn-success btn-xs">
                      </div>  
                 </div>   
                 <div class=" col-xs-4 col-md-2  ">            
                       <div class="form-group">
                           <input id="delete2" type="button"   value="Delete last item" class="btn btn-danger btn-xs ">
                      </div>  
                 </div>   

                 <div class="col-sm-12 col-md-4 ">            
                       <div class="form-group">
                        <input type="hidden"  id="topval" name="topval">
                           <input id="submit" type="submit"   value="Submit" class="btn btn-primary btn-block">
                      </div>  
                 </div>  

            
                
             </div> 
</div>


<!--    <div class="row">
            
                 <div class="col-sm-12 col-md-4 col-md-offset-4">            
                       <div class="form-group">
                           <input id="POHeader " type="text"  class="form-control poheader" name="sid">
                      </div>  
                 </div>   
             </div> -->



     
            
            




       </form>       


</div>




</div><!-- panel-body -->
       </div><!-- panel --> 
      </div>      
      </div><!-- row -->
{% endblock %}  

{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>


  

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.tableTools.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/dzscalendar.js"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-filestyle.js"></script>-->


<script type="text/javascript">
function leavetypefun(ltype){
if(ltype=="func"){
	$('#func').show();
	$('#Equip').hide();

}
else
{
	$('#func').hide();
	$('#Equip').show();
 
}
}

function tablechange(chang){
if(chang=="ZRGS"){
  $('#component').show();
  $('#service').hide();
}
else
{
  $('#component').hide();
  $('#service').show();
}
}
</script>





<script>
$(document).ready(function() {
	$('#Equip').hide();
    

    $('.function_location').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/functionlocation",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.functional_loc+">"+excercise.functional_loc+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.functional_loc;
        },
        formatAjaxError: function(){
          return 'function location Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#function_location").val(excercise.functional_loc);
  
            return excercise.functional_loc; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

$('.equipment').select2({
        minimumInputLength:3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/equipment",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.equipment_number+">"+excercise.Desp_technical_object+"--"+excercise.equipment_number+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.equipment_number;
        },
        formatAjaxError: function(){
          return 'Equipment Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#equipment").val(excercise.equipment_number);

            return excercise.Desp_technical_object; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });






$('.cost_center1').select2({
        minimumInputLength: 3,
        placeholder: ' ',
        ajax: {
            url: "/pmpr/costcenter",
            dataType: 'json',
            quietMillis: 100,
            
            data: function(term) {
          return {
                    term: term
                };
            },
  
            results: function(data) {

                return { results: data.results }
            }
        },
        formatResult: function(excercise) { 
            return "<div class='select2-user-result' value="+excercise.cost_center+">"+excercise.cost_center+" </div>"; 
 
        },
        id: function(excercise){
          return excercise.cost_center;
        },
        formatAjaxError: function(){
          return 'Cost Center Does not Exist';
        },
        formatSelection: function(excercise) { 
    $("#cost_center1").val(excercise.cost_center);
    
            return excercise.cost_center; 
        },
        initSelection : function (element, callback) {
            var elementText = $(element).attr('data-init-text');
            callback({"term":elementText});
        }
    });

	$('.material').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$("#material").val(excercise.material);
$('#UoM').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});




  });
</script>


<!-- validation of number only entry -->
<script type="text/javascript">
  function numberValid(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)){
        return false;
    }else{
      return true;
    }
}
 $('.age').bind("cut copy paste",function(e) {
          e.preventDefault();
      });

</script>

<script type="text/javascript">

$(document).ready(function(){

  if ( $.fn.dataTable.isDataTable( '#table1' ) ) {
    table1 = $('#table1').DataTable();
}
else {
    table1 = $('#table1').DataTable( {
      "scrollX": "170%",
       "paging": false,
       "bFilter": false,
        "bSort": false,
	"columnDefs": [
     { "width": "100px", "targets": 7},
      { "width": "100px", "targets": 8},
    { "width": "100px", "targets": 9}
  ]
    } );
}
	 if ( $.fn.dataTable.isDataTable( '#table2' ) ) {
    table2 = $('#table2').DataTable();
}
else {
    table2 = $('#table2').DataTable( {
      "scrollX": "120%",
    "bFilter": false,
       "paging": false,
        "bSort": false,
       "columnDefs": [
    { "width": "10%", "targets": 0}
  ]
      
    } );
}      
   



      

      $('#Date1,#Date2').datepicker({format:"dd.mm.yyyy"});
    /*  $(':file').filestyle({badge:true,input:false});*/
      $('#table1,#table2 input[type=file]').change(function () {
        var val = $(this).val().toLowerCase();
        var pdfFormat = new RegExp("(.*?)\.(pdf)$");
 if(val!=""){
        if(!(pdfFormat.test(val))) {
               
          alert('Unsupported file pdf format only');
          $(this).val('');
        }
      }
      }); 
    
       
    


      $('#add1').on( 'click', function () {
      row = $('#table1 >#body1 >tr').length;
       table1.row.add( [
    
    '<select  id="Desription'+row+'" class="form-control description" name="description1">{% for m in mtype%}<option value="{{m}}" >{{m}}</option> {% endfor %}</select>',
    '<input class="form-control material'+row+'" id="material'+row+'" name="material1" style="width:200px" type="hidden" value="" placeholder="material" required>',
    '<input id="Quantity" type="number"  class="form-control quantity" name="quantity1" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UoM'+row+'" type="text"  class="form-control uom" name="uom1" size="10" readonly="readonly">',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value1" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date1" size="11">',
    '<input id="Justification" type="text"  class="form-control just" name="just1">',
    '<input id="POHeader " type="text"  class="form-control poheader" name="poheader1">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify1">',
    '<select size="1" id="Procured"class="form-control procured" name="procured1"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option></select>',
    '<input  class="file" type="file"  name="file1[]" style="width:90px">'
    
    
              ] ).draw();

	
	$('.material'+row+'').select2({
minimumInputLength: 3,
placeholder: ' ',
ajax: {
url: "/pmpr/material",
dataType: 'json',
quietMillis: 100,
data: function(term) {
return {
term: term,mtype:$('#Desription'+row+'').val()
};
},
results: function(data) {

return { results: data.results }
}
},
formatResult: function(excercise) {
return "<div class='select2-user-result' value="+excercise.material+">"+excercise.material_desc+"--"+excercise.material+" </div>";
},
id: function(excercise){
return excercise.material;
},
formatAjaxError: function(){
return 'Material Does not Exist';
},
formatSelection: function(excercise) {
$('#material'+row+'').val(excercise.material);
$('#UoM'+row+'').val(excercise.bun);
return excercise.material_desc;
},
initSelection : function (element, callback) {
var elementText = $(element).attr('data-init-text');
callback({"term":elementText});
}
});

        $('.date').datepicker({format:"dd.mm.yyyy"});
        /*$(':file').filestyle({badge:true,input:false});*/

        $('#table1 input[type=file]').change(function () {
          var val = $(this).val().toLowerCase();
          var pdfFormat = new RegExp("(.*?)\.(pdf)$");
  if(val != "")
  {
          if(!(pdfFormat.test(val))) {
         /* $(':file').filestyle('clear'); */       
          alert('Unsupported file pdf format only');
          $(this).val('');
          }
}

        }); 

        
  
          } );
 
   $("#delete1").click(function(){
      if($('#table1 >#body1 >tr').length>1){
          table1.row('tr:last').remove().draw( false );
          /*$('#table1 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

 



      $('#add2').on( 'click', function () {
           row = $('#table2 >#body2 >tr').length;
              table2.row.add( [
    
    '<input id="Desc" type="text" class="form-control description" name="description2">',
    '<input id="Quant" type="number"  class="form-control quantity" name="quantity2" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="UM" type="text"  class="form-control uom" name="uom2" size="10" readonly="readonly">',
    '<input id="Unit Value" type="number"  class="form-control unitvalue" name="unit_value2" style="width:100px" onkeypress="return numberValid(event)">',
    '<input id="DeliveryDate" type=""  class="form-control date" name="date2" size="11">',
 /*   '<input id="Justification" type="text"  class="form-control just" name="just2">',
    '<input id="POHeader " type="text"  class="form-control poheader" name="poheader2">',
    '<input id="Specification" type="text"  class="form-control specify" name="specify2">',
    '<select size="1" id="Procured"class="form-control procured" name="procured2"><option value="Plant" selected="selected">Plant</option><option value="HO">HO</option>',*/
    '<input  class="file" type="file" name="file2[]" style="width:90px">',
   
    
            ] ).draw();

      $('.date').datepicker({format:"dd.mm.yyyy"});
     /* $(':file').filestyle({badge:true,input:false});*/
      $('#table2 input[type=file]').change(function () {
          var val = $(this).val().toLowerCase();
          var pdfFormat = new RegExp("(.*?)\.(pdf)$");
        if(val!=""){
          if(!(pdfFormat.test(val))) {
            /*$(':file').filestyle('clear');*/        
            alert('Unsupported file pdf format only');
            $(this).val('');
            }
        }
      });
      


        });
    $("#delete2").click(function(){
      if($('#table2 >#body2 >tr').length>1){
          table2.row('tr:last').remove().draw( false );
          /*$('#table2 tr:last td:last').show();*/
        
          }
          else{
            alert('Please don\'t delete');
          }      
    }); 

 $('#service').hide();
});
</script>

  


<script>


$(document).ready(function(){

  $('#submit').click( function() {
   
  
    alert('submit');

/*
            var table1 = $('#table1').DataTable();
      var table2 = $('#table2').DataTable();
      var data1 = table1.$('input,select').serialize();
      var data2 = table2.$('input,select').serialize();
      alert('table1'+data1);
      alert('table2'+data2);*/
a=[]
dept= document.getElementById('dept').value;
selct=document.querySelector('input[name="selct"]:checked').value;
equipment=document.getElementById('equipment').value;
cost_center1=document.getElementById('cost_center1').value;
tabl=document.querySelector('input[name="tabl"]:checked').value;
function_location=document.getElementById('function_location').value;

a.push(dept); //0
a.push(tabl); //1
a.push(selct); //2
a.push(function_location);//3
a.push(equipment);//4
a.push(cost_center1);//5
alert(a);
document.getElementById("topval").value=a;
    
  }); 
  
});
</script>




{% endblock %}

