{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/jquery.dataTables.css" rel="stylesheet">
<link href="/static/css/dataTables.tableTools.css" rel="stylesheet">
<!--<link href="/static/css/jquery.dataTables.yadcf.css" rel="stylesheet"> -->


{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-files-o"></i>Leave/Attendance History</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          
          <li class="active">Leave/Attendance History</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance History</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
         
        <thead>                  

              <tr >
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Leave Reason</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
          {% for e in lh %}

            <tr>
                <td>{{ e['employee_id']}}</td>
                <td>{{ e['fullname']}}</td>
                <td>{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
                 2nd Half of{{ e['start_date']}} <br>
                 1st half of {{ e['end_date']}}
                 {% else %}
                 {% if e['halfdays'][0] == 1 %}
                 2nd Half of {{ e['start_date']}}
                 {% else %}
                 1st Half of {{ e['end_date']}}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                  {{ e['status']|capitalize()}}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<!--<script src="/static/js/jquery.dataTables.yadcf.js"></script> -->
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/dataTables.tableTools.js"></script>
<script type="text/javascript">
$(document).ready( function () {
    $('#example').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
           "sSwfPath": "/static/js/plugins/datatable/exts/swf/copy_csv_xls_pdf.swf",
           "aButtons": [
            {'sExtends':'copy',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'xls',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'pdf',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            },
            {'sExtends':'print',
              "oSelectorOpts": { filter: 'applied', order: 'current' },
            }
             
          ]
        },
    } );
} );
</script>
  <script type="text/javascript">
  document.getElementById('id-2').className ="nav-parent nav-active active";
      document.getElementById("a").style.display = "block";
document.getElementById('id-2.5').className ="active";
    </script>
{% endblock %}
