{% extends "base.html" %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Select HR</h2>
      <!-- <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/leave_mgmt">Leave Management System</a></li>
          
          <li class="active">Select HR</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    

      
      <div class="row">
        
        
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Select HR</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">

         <form  action="" method="POST">
<div class="row">
<div class="col-md-3">
<select class="form-control" id="plant" name="plant" required>
  <option>Select Plant</option>
  <option value="HY">HEAD OFFICE</option>
  <option value="BP">BOYAREDDYPALLI</option>
  <option value="TC">TALARICHERUVU</option>
  <option value="TA">TANDUR</option>
  <option value="GC">GANESHPAHAD CEMENT</option>
  <option value="GP">GANESHPAHAD POWER PLANT</option>
</select>
</div>

    </div><br>
<div class="row">
<div class="col-md-6" id="current_hr">
</div>

    </div><br>
<div class="row">
<div class="col-md-3" id="hrs">
</div>

    </div><br>
    <div class="row">
  <div class="col-md-3" id="hrsubmit" >
  
    </div>
  </div>
</form>     
                                               
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     

{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>

<script type="text/javascript">
document.getElementById('id-14').className ="active";
</script>

<script type="text/javascript">
$('#plant').change(function() {
  var deg = $("#plant").val();
    $.ajax({
                     url:"/user/choosehr",
                     type:"POST",
                     data:{deg:deg},
                     success:function(data){
                  if (data['hr_pids'].length>0){

                    document.getElementById("current_hr").innerHTML = '<p>Current HR: '+data['current_hr']+'</p>';
                    var text='<select class="form-control" name="hr" required><option>Select HR</option>';
                    for(i=0;i<data['hr_pids'].length;i++){
                      text+='<option value="'+data['hr_pids'][i]['designation_id']+'">'+data['hr_pids'][i]['designation_id']+'</option>';
                    }
                    text+='</select>'
                    document.getElementById("hrs").innerHTML =text;
                    document.getElementById("hrsubmit").innerHTML ='<button type="submit"class="btn btn-success">Submit</button>';
                  }
                 

           




                     }
                   })
});
</script>

{% endblock %}
