 <div class="row">
               
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Leave/Attendance Status</h4>
           </div><!-- panel-heading -->



        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

              <div class="table-responsive">
                <form method="POST">
<table id="example" class="display table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Type</th>
                <th>Leave Reason</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Half Days</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
 
 
        <tbody>
          {% for e in lh %}

            <tr>

                <td>{{ e['leave']}}</td>  
                <td>{{ e['reason']}}</td>
                <td>{{ e['start_date']}}</td>
                <td>{{ e['end_date']}}</td>
                <td>
                  {% if e['halfdays']%}
                 {% if e['halfdays']|count == 2 %}
                 2nd Half of{{ e['start_date']}} <br>
                 1st half of {{ e['end_date']}}
                 {% else %}
                 {% if e['halfdays'][0] == 1 %}
                 2nd Half of {{ e['start_date']}}
                 {% else %}
                 1st Half of {{ e['end_date']}}
                 {% endif %}
                 {% endif %}
                  {% else %}
                  None
                  {% endif %}
                </td>  
                <td>
                {% if e['hr_status'] == 'hold' %}
                your {{e['attribute']}} has been hold by {{ e['hr_name']}}
                {% elif e['current_discuss'] == '1' %}
                Meet {{e['current_al_name']}} to discuss about your {{e['attribute']}}
                {% else %}
                Need approval from {{e['current_al_name']}}
                {% endif %}
                </td>
                <td><form action="" method="POST">
                  <input type="hidden" value="{{ e['_id']}}" name="leaveid" />
             <button name="submit" type="submit" id="revoke" class="btn btn-danger"> Revoke</button>           
           </form></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    </form>
              </div>
</div></div>

      </div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    




{% if ams %}         
      <div class="row">
               
        <div class="col-md-12 ">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Announcements</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
      
      <div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

<script type="text/javascript">
var announce = new Array();
{% set i=0 %}
{% for am in ams%}
announce[{{i}}] = "{{am['announcement']}}";
console.log(announce[{{i}}] = "{{am['announcement']}}");
{% set i=i+1 %}
{% endfor %}

</script>





                    </div>

   
</div></div>

      </div><!-- row -->