{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>Time Sheet</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
<div class="row">
  <div class="col-md-12">
   <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
              <a href="#" class="panel-close">&times;</a>
              <a href="#" class="minimize">&minus;</a>
            </div><!-- panel-btns -->
            <h4 class="panel-title">Time Sheet</h4>
        </div><!-- panel-heading -->
        <div class="panel-body">
          
          <div class="col-lg-12">
            <div class="portlet-content">   
              <div class="form-group">
                <form method="POST" >
                  <table id="example" class=" table table-bordered table-striped" cellspacing="0" >
                      <thead>
                          <tr>
                            <th>Name of the Project</th>
                            <th>Description</th>
                            <th>Created by</th>
                            <th>Time</th>
                          </tr>

                      </thead>
                      <tbody>
                        {% for e in list_details %}
                        <tr>
                          <td>{{ e['proj_name'] }}</td>

                          <td>{{ e['proj_desc']  }}</td>

                          <td>{{ e['created_by']  }}</td>

                          <td>{{ e['created_time']  }}</td>
                          {% if E== "55a8d635a062c5f4374b58b5"%}
                          <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
                          {% endif %}
                          {% if D== "55acb08743decc7901429803"%}
                          <td><button type="button" class="btn btn-primary btn-sm">Delete</button></td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
          
        <div class="col-md-2 ">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myUser">
          Create Project
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myUser" tabindex="-1" role="dialog" aria-labelledby="myUserLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"> Create Project </h4>
                </div>
                <div class="modal-body">
                  
                  <form action="" method="POST">
                    <div> 
                      {{form.proj_name.label(class="control-label")}}
                      {{form.proj_name(class="form-control",placeholder="Username",id="uname" ) }}<br>
                      
                      {{form.proj_by.label(class="control-label")}}
                      {{form.proj_by(class="form-control",placeholder="Created by")}}<br>

                      {{form.proj_head.label(class="control-label")}}
                      {{form.proj_head(class="form-control")}}<br>

                      {{form.proj_desc.label(class="control-label")}}
                      {{form.proj_desc(class="form-control",rows="4",placeholder="Description")}}<br>
                    </div> 
                    <div class="row">
                      {% if check=="true" %}
                      <div class="col-sm-4 col-sm-offset-1"></br>
              <button type=submit value="Submit1" class="btn btn-primary btn-block">Send to Project Manager </button>
                    </div>
                      {% else %}
                      <div class="col-sm-4 col-sm-offset-1"></br>
              <button type=submit value="Submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                      {% endif %}
                    </div>
                  </form>

                </div> 
              </div>
            </div>
          </div>
        </div>
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div>        
</div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script src="/static/js/select2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('button').click(function(){
    var test = $('input:checked').length;
    if(test != null){

    }
  });
  
    table1=$('#example').DataTable( {
        "retrieve": true,
        "scrollX": "100%"
    });
  

});
</script>

<script type="text/javascript">
document.getElementById('id-24').className ="active";
</script>
{% endblock %}
