{% extends "base.html" %}

{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa fa-pencil"></i>Trade</h2>
     <!--  <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">         
          <li class="active">Trade</li>
        </ol>
      </div> -->
    </div>
{% endblock %} 
{% block contentpanel %}    
    
      
      <div class="row">
        
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">Trade</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
         <form  action="" method="POST">
<div class="row">
<div class="col-sm-4 col-sm-offset-1">
  <div class="radio-inline">
<label>
  <input type="radio" name="trade" id="trade1" value="1" checked="checked" onchange="tradetypefun(this.value)"> Trade
</label>         
</div>
    <div class="radio-inline">
       <label>
  <input type="radio" name="trade" id="trade2" value="2" onchange="tradetypefun(this.value)"> Non Trade
</label>
</div>
<div class="form-group">
    
    <input class="form-control" id="customer_id" name="customer_id" type="text" value="" placeholder="Customer ID" required></div>
<div class="form-group">
    
    <input class="form-control" id="po_no" name="po_no" type="text" value="" placeholder="PO Number" required></div>  
<div class="form-group">
    
    <select class="form-control" id="inco_terms" name="inco_terms" required>
      <option value="">Select INCO terms</option>
      <option value="1">Paid</option>
      <option value="2">Topay</option>
      <option value="3">Ex-works</option>
      <option value="4">Ex-Godowns</option>
    </select>
  </div>
  <div class="form-group">
    
    <select class="form-control" id="material_code" name="material_code" required>
      <option value="">Select Material</option>
      <option value="1">Material1</option>
      <option value="2">Material2</option>
      <option value="3">Material3</option>
      <option value="4">Material4</option>
      <option value="5">Material5</option>
      <option value="6">Material6</option>
      <option value="7">Material7</option>
      <option value="8">Material8</option>
    </select>
  </div>
  <div class="form-group">
    
    <input class="form-control" id="quantity" name="quantity" type="number" value="" placeholder="Quantity in Metric Tons" required></div>
  <div class="form-group">
    
    <select class="form-control" id="plant" name="plant" required>
      <option value="">Select Plant </option>
      <option value="1">Plant1</option>
      <option value="2">Plant2</option>
      <option value="3">Plant3</option>
      <option value="4">Plant4</option>
    </select>
  </div>
  <div class="form-group">
    
    <select class="form-control" id="route" name="route" required>
      <option value="">Select Route</option>
      <option value="1">Road</option>
      <option value="2">Rail</option>
    </select>
  </div>  

<div class="form-group">
    
    <input class="form-control" id="sold_id" name="sold_id" type="text" value="" placeholder="Sold to id" required>
  </div> 
 <div class="form-group">
    
    <textarea class="form-control" id="sold_add" name="sold_add" rows="3" placeholder="Sold to address"></textarea>
  </div> 
<div class="form-group">
    
    <input class="form-control" id="ship_id" name="ship_id" type="text" value="" placeholder="Ship to id" required>
  </div> 
 <div class="form-group">
    
    <textarea class="form-control" id="sold_add" name="sold_add" rows="3" placeholder="Ship to address"></textarea>
  </div> 

  <div class="form-group" id="nontrade1" style="display:none">
    
    <input class="form-control" id="a_price" name="a_price" type="text" value="" placeholder="Approval Price" >
  </div> 
  <div class="form-group" id="nontrade2" style="display:none">
    
    <input class="form-control" id="m_price" name="m_price" type="text" value="" placeholder="Manual Price" >
  </div> 

<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
</div>
  </div>

    </div>
</form>     
                                                
        </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->
      
     
    
{% endblock %}    
{% block scripts %}
<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">


function tradetypefun(ttype){
if(ttype==1){
document.getElementById('nontrade1').style.display="none";
document.getElementById('nontrade2').style.display="none";
document.getElementById('a_price').className ="form-control";
document.getElementById('m_price').className ="form-control";            
}
else{
document.getElementById('nontrade1').style.display="block";
document.getElementById('nontrade2').style.display="block";
document.getElementById('a_price').className ="required form-control";
document.getElementById('m_price').className ="required form-control";
}
}

</script>

{% endblock %}
