{% extends "base.html" %}
{% block links %}
<link href="/static/css/datepicker.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">

<style type="text/css">
body { font-size: 140%; }

</style>
{% endblock %}
{% block pageheader %}           
    <div class="pageheader">
      <h2><i class="fa  fa-user"></i>User Sessions</h2>
    </div>
{% endblock %} 
{% block contentpanel %}    
      <div class="row">
        
        <div class="col-md-12">
 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div><!-- panel-btns -->
          <h4 class="panel-title">User Sessions</h4>
           </div><!-- panel-heading -->
        <div class="panel-body">
          <div class="col-md-6">
          <p>Total no. of user's logged in at that time:&nbsp {{ log_count }}</p>
        <p>Date:&nbsp{{ date }}</p>
        <p>Week:&nbsp{{ week }}</p>
        <p>Year:&nbsp{{ year }}</p>
      </div>
        <form>
        <div class="col-md-6">
          {{form.user_date1.label(class="control-label")}}
          {{form.user_date1(class="form-control",style="width:175px",placeholder="from date")}}
          {{form.user_date2.label(class="control-label")}}
          {{form.user_date2(class="form-control",style="width:175px",placeholder="to date")}}<br>

          <button type=submit value="Submit" id="show" class="btn btn-primary col-md-2 col-md-offset-1">Submit</button>
          
        </div> 
        </form>
<div class="row">
               
<div class="col-lg-12">
<div class="portlet-content">   

<div class="form-group">
  <form method="POST" >
    <table id="example" class=" table table-bordered table-striped" cellspacing="0" >
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Session Login Time</th>
                <th>Session Logout Time</th>
            </tr>
        </thead>
        <tbody>
          {% for e in emp_det %}
          {% if e['lastlogin'] != '' %}
            
            <tr>
                <td>
                  {% if e['username']%}
                  {{ e['username']  }}
                  {% endif%}
                </td>
                <td>
                  {% if e['username']%}
                  {{ e['l_name']  }}
                  {% endif%}
                </td>
                <td>
                  {{ e['logintime'] }}
                </td>
                <td>
                  {% if e['lastlogin']%}
                  {{ e['lastlogin'] }}
                  {% endif %}
                </td>
            </tr>
          {%endif%}
          {% endfor %}
        </tbody>
    </table>
  </form>
</div>
</div></div>

</div><!-- row -->
  </div><!-- panel-body -->
      </div><!-- panel -->
</div>        
      </div><!-- row -->    
     

{% endblock %}    
{% block scripts %}

<script src="/static/js/bootstrap-wizard.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-timepicker.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#user_date1').datepicker({format:"yyyy/mm/dd",autoclose:true});
  $('#user_date2').datepicker({format:"yyyy/mm/dd",autoclose:true});
  
  
    table1=$('#example').DataTable( {
        "retrieve": true,
        "scrollX": "100%",

    });
  
});

</script>
  <script type="text/javascript">
document.getElementById('id-1.2').className ="active";
    </script>
{% endblock %}
